@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: 'Harman Sans';
  src: url("../../fonts/Harman-Sans.otf");
  font-display: swap; }
@font-face {
  font-family: 'Harman Sans';
  src: url("../../fonts/Harman-Sans.otf");
  font-display: swap; }
/*** H E A D E R ***/
/*** N A V ***/
/*** F O O T E R ***/
/*** S C R O L L ***/
/*** C A R D  L I N K ***/
/*** C A R D ***/
/*** M Y T H ***/
/*** N A V  B G ***/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
@use "sass:math";
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.6; }
  .hamburger.is-active:hover {
    opacity: 0.6; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff; }

.hamburger-box {
  width: 36px;
  height: 21px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 36px;
    height: 3px;
    background-color: #363062;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -9px; }
  .hamburger-inner::after {
    bottom: -9px; }

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-7.2px, 0, 0) rotate(-45deg) scale(0.7, 1); }
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-7.2px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
 * Minus
 */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }
.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }
.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }
.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background: linear-gradient(15deg, rgba(0, 0, 0, 0.75) 0%, rgba(54, 48, 98, 0.75) 50%, rgba(130, 115, 151, 0.75) 100%), url(../../img/contact/lava.webp) no-repeat center/cover;
  font-family: "Quicksand", sans-serif;
  color: #1b1b1b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /*** N A V ***/
  /*** M A I N ***/
  /*** S C R O L L ***/
  /*** M E D I A  Q U E R I E S ***/
  /** Tablet **/
  /** PC **/ }
  body .nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    transition: all 0.5s; }
    body .nav .nav-bur {
      height: 60px;
      padding: 10px 16px;
      color: white;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 900; }
    body .nav .menu {
      font-size: 1.375rem;
      background: rgba(54, 48, 98, 0.85);
      box-shadow: 0 0 20px #363062;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      width: 0;
      height: 100vh;
      position: fixed;
      z-index: 800;
      left: -100vw;
      top: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      transition: all 0.5s; }
      body .nav .menu .nav-links {
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; }
        body .nav .menu .nav-links .nav-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          body .nav .menu .nav-links .nav-logo h2 {
            font-family: "Harman Sans", sans-serif;
            color: white;
            font-size: 2.5rem;
            letter-spacing: 2.5px;
            margin-left: 16px; }
        body .nav .menu .nav-links .links {
          height: 70%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column; }
          body .nav .menu .nav-links .links a {
            color: white;
            text-decoration: none;
            transition: transform 0.3s; }
            body .nav .menu .nav-links .links a:hover {
              transform: scale(1.2); }
            body .nav .menu .nav-links .links a span {
              margin-right: 8px; }
        body .nav .menu .nav-links .contact-link a {
          color: white;
          text-decoration: none; }
          body .nav .menu .nav-links .contact-link a:hover {
            color: #ff9d59; }
    body .nav .menu-open {
      left: 0;
      transition: all 0.5s;
      width: 100vw; }
    body .nav .hamburger-inner, body .nav .hamburger-inner::before, body .nav .hamburger-inner::after {
      background-color: white; }
  body main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    body main .menu-bg {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 400;
      opacity: 0;
      width: 0; }
    body main .visible {
      position: fixed;
      opacity: 0.25;
      width: 100%;
      transition: opacity ease-in 0.5s;
      display: block; }
    body main .form-container {
      max-width: 90%;
      padding: 20px; }
      body main .form-container .nom-ape {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        body main .form-container .nom-ape input {
          margin: 12px 0;
          padding: 12px 6px; }
      body main .form-container h1 {
        color: white;
        font-size: 1.625rem;
        text-align: center;
        margin-bottom: 20px; }
      body main .form-container form {
        max-width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        body main .form-container form input, body main .form-container form textarea {
          background-color: rgba(255, 255, 255, 0);
          background-color: rgba(0, 0, 0, 0.1);
          color: white;
          font-size: 1rem;
          font-family: "Quicksand", sans-serif;
          margin: 12px 0;
          padding: 12px 6px;
          width: 100%;
          border: none;
          border-bottom: 1.25px solid rgba(255, 255, 255, 0.75);
          outline: none; }
        body main .form-container form input::placeholder, body main .form-container form textarea::placeholder {
          color: #fbfbfb;
          font-size: 0.875rem;
          font-family: "Quicksand", sans-serif; }
        body main .form-container form input:focus {
          background-color: rgba(255, 255, 255, 0.1);
          border: 1.25px solid white; }
        body main .form-container form input[type=submit] {
          background-color: rgba(255, 255, 255, 0.1);
          color: #fbfbfb;
          font-size: 1.125rem;
          font-family: "Quicksand", sans-serif;
          border: none; }
          body main .form-container form input[type=submit]:hover {
            background-color: rgba(255, 255, 255, 0.2); }
        body main .form-container form textarea {
          border: 1.25px solid rgba(255, 255, 255, 0.75);
          resize: vertical; }
          body main .form-container form textarea:focus {
            background-color: rgba(255, 255, 255, 0.1); }
  body::-webkit-scrollbar {
    background-color: transparent;
    width: 8px; }
  body::-webkit-scrollbar-thumb {
    background-color: #ff9d59; }
    body::-webkit-scrollbar-thumb:hover {
      background-color: #d38045; }
  @media only screen and (min-width: 600px) {
    body .nav {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 500;
      transition: all 0.5s; }
      body .nav .nav-bur {
        height: 60px;
        padding: 10px 16px;
        color: white;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 900; }
      body .nav .menu {
        font-size: 1.375rem;
        background: rgba(54, 48, 98, 0.85);
        box-shadow: 0 0 20px #363062;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width: 0;
        height: 100vh;
        position: fixed;
        z-index: 800;
        left: -100vw;
        top: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s; }
        body .nav .menu .nav-links {
          height: 70%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column; }
          body .nav .menu .nav-links .nav-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
            body .nav .menu .nav-links .nav-logo h2 {
              font-family: "Harman Sans", sans-serif;
              color: white;
              font-size: 2.5rem;
              letter-spacing: 2.5px;
              margin-left: 16px; }
          body .nav .menu .nav-links .links {
            height: 70%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column; }
            body .nav .menu .nav-links .links a {
              color: white;
              text-decoration: none;
              transition: transform 0.3s; }
              body .nav .menu .nav-links .links a:hover {
                transform: scale(1.2); }
              body .nav .menu .nav-links .links a span {
                margin-right: 8px; }
          body .nav .menu .nav-links .contact-link a {
            color: white;
            text-decoration: none; }
            body .nav .menu .nav-links .contact-link a:hover {
              color: #ff9d59; }
      body .nav .menu-open {
        left: 0;
        transition: all 0.5s;
        width: 100vw;
        width: 400px; }
    body main .form-container {
      max-width: 80%; }
      body main .form-container .nom-ape {
        flex-direction: row;
        gap: 20px; }
        body main .form-container .nom-ape input {
          margin: 20px 0;
          padding: 20px 10px; }
      body main .form-container h1 {
        font-size: 2.75rem; }
      body main .form-container form {
        max-width: 100%; }
        body main .form-container form input, body main .form-container form textarea {
          margin: 20px 0;
          padding: 20px 10px; } }
  @media only screen and (min-width: 900px) {
    body .nav {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 500;
      transition: all 0.5s; }
      body .nav .nav-bur {
        height: 60px;
        padding: 10px 16px;
        color: white;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 900; }
      body .nav .menu {
        font-size: 1.375rem;
        background: rgba(54, 48, 98, 0.85);
        box-shadow: 0 0 20px #363062;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width: 0;
        height: 100vh;
        position: fixed;
        z-index: 800;
        left: -100vw;
        top: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s; }
        body .nav .menu .nav-links {
          height: 70%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column; }
          body .nav .menu .nav-links .nav-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
            body .nav .menu .nav-links .nav-logo h2 {
              font-family: "Harman Sans", sans-serif;
              color: white;
              font-size: 2.5rem;
              letter-spacing: 2.5px;
              margin-left: 16px; }
          body .nav .menu .nav-links .links {
            height: 70%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column; }
            body .nav .menu .nav-links .links a {
              color: white;
              text-decoration: none;
              transition: transform 0.3s; }
              body .nav .menu .nav-links .links a:hover {
                transform: scale(1.2); }
              body .nav .menu .nav-links .links a span {
                margin-right: 8px; }
          body .nav .menu .nav-links .contact-link a {
            color: white;
            text-decoration: none; }
            body .nav .menu .nav-links .contact-link a:hover {
              color: #ff9d59; }
      body .nav .menu-open {
        left: 0;
        transition: all 0.5s;
        width: 100vw;
        width: 400px; }
    body main .form-container {
      max-width: 70%; }
      body main .form-container .nom-ape {
        flex-direction: row;
        gap: 20px; }
        body main .form-container .nom-ape input {
          margin: 20px 0;
          padding: 20px 10px; }
      body main .form-container h1 {
        font-size: 3.75rem; }
      body main .form-container form {
        max-width: 100%; }
        body main .form-container form input, body main .form-container form textarea {
          margin: 20px 0;
          padding: 20px 10px; } }

/*# sourceMappingURL=contact.css.map */
