@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: 'Harman Sans';
  src: url("../../fonts/Harman-Sans.otf");
  font-display: swap; }
@font-face {
  font-family: 'Harman Sans';
  src: url("../../fonts/Harman-Sans.otf");
  font-display: swap; }
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
@use "sass:math";
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fbfbfb; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fbfbfb;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
 * Minus
 */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }
.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }
.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }
.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fbfbfb;
  color: #1b1b1b;
  /*** H E A D E R ***/
  /*** N A V ***/
  /*** M A I N ***/
  /*** F O O T E R ***/
  /*** S C R O L L ***/
  /*** M E D I A  Q U E R I E S ***/
  /** Tablet **/
  /** PC **/ }
  body a {
    text-decoration: none;
    color: #fbfbfb; }
  body img {
    max-width: 1000px;
    max-height: 800px; }
  body .main-header {
    background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/index/gre-gods.webp) no-repeat center/cover;
    font-family: "Harman Sans", sans-serif;
    font-size: 1.875rem;
    letter-spacing: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 800;
    height: 100vh;
    margin-bottom: 50px;
    flex-direction: column;
    box-shadow: 0 0 20px #363062; }
    body .main-header .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      body .main-header .logo img {
        animation: logo 2s cubic-bezier(0.175, 0.885, 0.32, 1.07); }
      body .main-header .logo h1 {
        animation: title 2s cubic-bezier(0.175, 0.885, 0.32, 1.07); }
    body .main-header .arrow {
      position: absolute;
      bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center; }
    body .main-header h2 {
      font-family: "Quicksand", sans-serif;
      font-size: 1.875rem; }
  body nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    transition: all 0.5s; }
    body nav .nav-mob {
      height: 50px;
      width: 100%;
      padding: 10px 20px;
      background-color: rgba(54, 48, 98, 0.75);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      color: white;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 900; }
    body nav .nav-pc {
      font-size: 1.375rem;
      background: rgba(54, 48, 98, 0.85);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      width: 0;
      height: 100vh;
      position: fixed;
      z-index: 700;
      left: -100vw;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.5s; }
      body nav .nav-pc .nav-logo {
        display: none; }
      body nav .nav-pc .nav-links {
        height: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; }
    body nav .menu-open {
      left: 0;
      transition: all 0.5s;
      width: 100vw; }
  body main {
    padding: 40px; }
    body main .sub-header {
      text-align: center;
      margin-bottom: 50px; }
      body main .sub-header h2 {
        font-size: 2.5rem;
        color: #4D4C7D; }
    body main .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 225px);
      grid-auto-rows: 350px;
      gap: 40px;
      justify-content: space-evenly; }
      body main .grid:not(:last-child) {
        margin-bottom: 90px; }
      body main .grid .card {
        position: relative;
        display: flex;
        align-items: center;
        box-shadow: 0 50px 50px -60px #827397;
        transition: 0.4s ease-out; }
        body main .grid .card:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: flex;
          transition: 0.3s; }
        body main .grid .card:hover {
          transform: translateY(2.5%); }
          body main .grid .card:hover:before {
            opacity: 1; }
        body main .grid .card .card-info {
          width: 100%;
          height: 100%;
          padding: 10px;
          position: relative;
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: rgba(130, 115, 151, 0.6);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          color: white;
          opacity: 0;
          transform: translateY(10%);
          transition: 0.3s; }
          body main .grid .card .card-info:hover {
            opacity: 1;
            transform: translateY(0); }
          body main .grid .card .card-info h3 {
            text-shadow: 0 0 10px #363062;
            font-size: 2rem;
            text-align: center; }
          body main .grid .card .card-info p {
            text-shadow: 0 0 14px #363062;
            font-size: 1.1rem;
            margin: 5px 0 15px 0;
            text-align: center; }
          body main .grid .card .card-info .card-button {
            padding: 10px;
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: #fbfbfb;
            color: #1b1b1b;
            transition: 0.3s ease; }
            body main .grid .card .card-info .card-button:hover {
              background-color: white;
              color: #1b1b1b;
              text-shadow: 0 0 0.1px #827397; }
    body main #zeus {
      background: white url(../../img/greek/gods/zeus.webp) no-repeat center/cover; }
    body main #poseidon {
      background: white url(../../img/greek/gods/poseidon.webp) no-repeat center/cover; }
    body main #hades {
      background: white url(../../img/greek/gods/hades.webp) no-repeat center/cover; }
    body main #hermes {
      background: white url(../../img/greek/gods/hermes.webp) no-repeat center/cover; }
    body main #hera {
      background: white url(../../img/greek/gods/hera.webp) no-repeat center/cover; }
    body main #hefesto {
      background: white url(../../img/greek/gods/hefesto.webp) no-repeat center/cover; }
    body main #dioniso {
      background: white url(../../img/greek/gods/dioniso.webp) no-repeat center/cover; }
    body main #atenea {
      background: white url(../../img/greek/gods/atenea.webp) no-repeat center/cover; }
    body main #apolo {
      background: white url(../../img/greek/gods/apolo.webp) no-repeat center/cover; }
    body main #artemisa {
      background: white url(../../img/greek/gods/artemisa.webp) no-repeat center/cover; }
    body main #ares {
      background: white url(../../img/greek/gods/ares.webp) no-repeat center/cover; }
    body main #afrodita {
      background: white url(../../img/greek/gods/afrodita.webp) no-repeat center/cover; }
    body main #demeter {
      background: white url(../../img/greek/gods/demeter.webp) no-repeat center/cover; }
    body main #hestia {
      background: white url(../../img/greek/gods/hestia.webp) no-repeat center/cover; }
    body main #persefone {
      background: white url(../../img/greek/gods/persefone.webp) no-repeat center/cover; }
    body main #tanatos {
      background: white url(../../img/greek/gods/tanatos.webp) no-repeat center/cover; }
    body main #morfeo {
      background: white url(../../img/greek/gods/morfeo.webp) no-repeat center/cover; }
    body main #pan {
      background: white url(../../img/greek/gods/pan.webp) no-repeat center/cover; }
    body main #hebe {
      background: white url(../../img/greek/gods/hebe.webp) no-repeat center/cover; }
    body main #eirene {
      background: white url(../../img/greek/gods/eirene.webp) no-repeat center/cover; }
    body main #nike {
      background: white url(../../img/greek/gods/nike.webp) no-repeat center/cover; }
    body main #caos {
      background: white url(../../img/greek/gods/caos.webp) no-repeat center/cover; }
    body main #gea {
      background: white url(../../img/greek/gods/gea.webp) no-repeat center/cover; }
    body main #tartaro {
      background: white url(../../img/greek/gods/tartaro.webp) no-repeat center/cover; }
    body main #eros {
      background: white url(../../img/greek/gods/eros.webp) no-repeat center/cover; }
    body main #urano {
      background: white url(../../img/greek/gods/urano.webp) no-repeat center/cover; }
    body main #oceano {
      background: white url(../../img/greek/gods/oceano.webp) no-repeat center/cover; }
    body main #ceo {
      background: white url(../../img/greek/gods/ceo.webp) no-repeat center/cover; }
    body main #crio {
      background: white url(../../img/greek/gods/crio.webp) no-repeat top/cover; }
    body main #hiperion {
      background: white url(../../img/greek/gods/hiperion.webp) no-repeat left/cover; }
    body main #japeto {
      background: white url(../../img/greek/gods/japeto.webp) no-repeat center/cover; }
    body main #crono {
      background: white url(../../img/greek/gods/crono.webp) no-repeat center/cover; }
    body main #febe {
      background: white url(../../img/greek/gods/febe.webp) no-repeat center/cover; }
    body main #mnemosine {
      background: white url(../../img/greek/gods/mnemosine.webp) no-repeat center/cover; }
    body main #rea {
      background: white url(../../img/greek/gods/rea.webp) no-repeat center/cover; }
    body main #temis {
      background: white url(../../img/greek/gods/temis.webp) no-repeat center/cover; }
    body main #tetis {
      background: white url(../../img/greek/gods/tetis.webp) no-repeat center/cover; }
    body main #tea {
      background: white url(../../img/greek/gods/tea.webp) no-repeat center/cover; }
    body main #atlas {
      background: white url(../../img/greek/gods/atlas.webp) no-repeat center/cover; }
    body main #circe {
      background: white url(../../img/greek/gods/circe.webp) no-repeat center/cover; }
    body main #hecate {
      background: white url(../../img/greek/gods/hecate.webp) no-repeat center/cover; }
    body main #helios {
      background: white url(../../img/greek/gods/helios.webp) no-repeat center/cover; }
    body main #selene {
      background: white url(../../img/greek/gods/selene.webp) no-repeat center/cover; }
    body main #leto {
      background: white url(../../img/greek/gods/leto.webp) no-repeat center/cover; }
    body main #prometeo {
      background: white url(../../img/greek/gods/prometeo.webp) no-repeat center/cover; }
  body footer {
    background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/greek/hades.webp) no-repeat center/cover;
    color: white;
    box-shadow: 0 0 20px #363062;
    height: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 500; }
  body::-webkit-scrollbar {
    background-color: transparent;
    width: 8px; }
  body::-webkit-scrollbar-thumb {
    background-color: #ff9d59; }
    body::-webkit-scrollbar-thumb:hover {
      background-color: #d38045; }
  @media only screen and (min-width: 600px) {
    body .main-header {
      background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/index/gre-gods.webp) no-repeat center/cover;
      font-family: "Harman Sans", sans-serif;
      font-size: 1.875rem;
      letter-spacing: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      z-index: 800;
      height: 100vh;
      margin-bottom: 50px;
      flex-direction: column;
      box-shadow: 0 0 20px #363062;
      font-size: 2.5rem; }
      body .main-header .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-direction: row; }
        body .main-header .logo h1 {
          margin-left: 35px; }
        body .main-header .logo img {
          animation: logo 2s cubic-bezier(0.175, 0.885, 0.32, 1.07); }
        body .main-header .logo h1 {
          animation: title 2s cubic-bezier(0.175, 0.885, 0.32, 1.07); }
      body .main-header .arrow {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }
      body .main-header h2 {
        font-family: "Quicksand", sans-serif;
        font-size: 2.5rem; }
    body .nav {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 500;
      transition: all 0.5s; }
      body .nav .nav-mob {
        height: 50px;
        width: 100%;
        padding: 10px 20px;
        background-color: rgba(54, 48, 98, 0.75);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        color: white;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 900; }
      body .nav .nav-pc {
        font-size: 1.375rem;
        background: rgba(54, 48, 98, 0.85);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width: 0;
        height: 100vh;
        position: fixed;
        z-index: 700;
        left: -100vw;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s; }
        body .nav .nav-pc .nav-logo {
          display: none; }
        body .nav .nav-pc .nav-links {
          height: 60%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column; }
      body .nav .menu-open {
        left: 0;
        transition: all 0.5s;
        width: 100vw;
        width: 420px; }
    body main .sub-header h2 {
      font-size: 3.125rem; } }
  @media only screen and (min-width: 900px) {
    body .main-header {
      background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/index/gre-gods.webp) no-repeat center/cover;
      font-family: "Harman Sans", sans-serif;
      font-size: 1.875rem;
      letter-spacing: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      z-index: 800;
      height: 100vh;
      margin-bottom: 50px;
      flex-direction: column;
      box-shadow: 0 0 20px #363062;
      font-size: 3.125rem;
      background-attachment: fixed; }
      body .main-header .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-direction: row; }
        body .main-header .logo h1 {
          margin-left: 35px; }
        body .main-header .logo img {
          animation: logo 2s cubic-bezier(0.175, 0.885, 0.32, 1.07); }
        body .main-header .logo h1 {
          animation: title 2s cubic-bezier(0.175, 0.885, 0.32, 1.07); }
      body .main-header .arrow {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }
      body .main-header h2 {
        font-family: "Quicksand", sans-serif;
        font-size: 3.125rem; }
    body .nav {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 500;
      transition: all 0.5s; }
      body .nav .nav-mob {
        height: 50px;
        width: 100%;
        padding: 10px 20px;
        background-color: rgba(54, 48, 98, 0.75);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        color: white;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 900;
        display: none; }
      body .nav .nav-pc {
        font-size: 1.375rem;
        background: rgba(54, 48, 98, 0.85);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width: 0;
        height: 100vh;
        position: fixed;
        z-index: 700;
        left: -100vw;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s;
        font-size: 1.0625rem;
        height: 50px;
        width: 100%;
        padding: 10px 30px;
        background-color: rgba(54, 48, 98, 0.75);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        color: white;
        position: sticky;
        justify-content: space-between;
        flex-direction: row;
        transition: none; }
        body .nav .nav-pc .nav-logo {
          display: none;
          display: flex;
          justify-content: left;
          align-items: center;
          cursor: pointer; }
          body .nav .nav-pc .nav-logo h2 {
            font-family: "Harman Sans", sans-serif;
            color: white;
            font-size: 1.25rem;
            letter-spacing: 2.5px;
            margin-left: 8px; }
        body .nav .nav-pc .nav-links {
          height: 60%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          width: 60%;
          justify-content: space-between;
          flex-direction: row; }
          body .nav .nav-pc .nav-links a {
            color: white;
            text-decoration: none; }
            body .nav .nav-pc .nav-links a:hover {
              text-shadow: 0 0 6px #363062;
              transform: scale(1.075); }
      body .nav .menu-open {
        left: 0;
        transition: all 0.5s;
        width: 100vw;
        width: 0px;
        left: -420px; }
    body main .sub-header h2 {
      font-size: 3.75rem; } }

/*# sourceMappingURL=style-greek-gods.css.map */
