<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egipcia Mitos</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-egypt-myths.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>

<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px" width="122.22">
            <h1>Egipcia</h1>
        </div>
        <h2>Mitos</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <button id="burger" class="hamburger hamburger--minus" type="button" onclick="toggleMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div id="menu" class="menu">
            <div class="nav-logo" onclick="location.href='../index.html'">
                <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                <h2>Mytho</h2>
            </div>
            <div class="nav-links">
                <details>
                    <summary>Mitologías</summary>
                    <div class="links">
                        <a href="../index.html#egipcia"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png"/></span>Egipcia</a>
                        <a href="../index.html#nordica"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png"/></span>Nórdica</a>
                        <a href="../index.html#griega"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"/></span>Griega</a>
                        <a href="../index.html#romana"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png"/></span>Romana</a>
                        <a href="../index.html#azteca"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png"/></span>Azteca</a>
                        <a href="../index.html#maya"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png"/></span>Maya</a>
                        <a href="../index.html#sumeria"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/nail.png"/></span>Sumeria</a>
                    </div>
                </details>
            </div>
            <div class="contact-link">
                <a href="contact.html">Contacto</a>
            </div>
        </div>
    </nav>

    <main>
        <section class="myth-section">
            <header>
                <h2>La creación</h2>
            </header>
            <div class="myth-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quis perspiciatis, ab commodi nostrum
                laboriosam modi facilis libero, mollitia voluptates nihil distinctio corrupti quos, delectus debitis
                neque culpa? Praesentium quae tempore perferendis odit, quam consectetur. Esse iusto quos ad a
                laboriosam beatae saepe unde nemo error quibusdam tempora neque delectus odit similique commodi sequi
                ipsum consectetur, eius corporis, aliquam alias illum consequatur assumenda? Magni, excepturi
                necessitatibus! Similique enim debitis pariatur molestiae velit in doloribus! Expedita quod eaque
                delectus nobis minima nesciunt. Similique consectetur deserunt, accusamus earum quia sit modi vel esse
                provident consequatur quam? Voluptates porro soluta ullam, nam consectetur tempora iste veniam sint
                mollitia? Nemo magnam explicabo reprehenderit natus officia assumenda vel voluptates harum porro, ullam
                eum dolore dolorum nostrum deleniti aliquam iure officiis voluptate nobis velit quidem nisi quo
                consequatur minus eligendi? Recusandae officia nemo incidunt debitis vel laborum dolor, facere voluptas
                necessitatibus doloribus temporibus eligendi totam est? Hic ab vel beatae quos, quod numquam, ipsum
                doloribus ducimus dolorem, consectetur quam corporis ad odit omnis molestiae sit fugiat debitis
                accusamus? Fugiat delectus itaque ad iusto omnis asperiores nostrum illo corrupti architecto. Omnis
                quasi ullam cum, molestias eaque debitis. Nobis vero alias assumenda reiciendis enim illum inventore
                repellendus voluptatum.

                <div class="myth-info-img">
                    <img src="../../img/egypt/myths/creation.jpg" alt="Papiro donde se representa el mito de la creación según los egipcios">
                </div>
            </div>
        </section>

        <section class="myth-section">
            <header>
                <h2>Osiris</h2>
            </header>
            <div class="myth-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quis perspiciatis, ab commodi nostrum
                laboriosam modi facilis libero, mollitia voluptates nihil distinctio corrupti quos, delectus debitis
                neque culpa? Praesentium quae tempore perferendis odit, quam consectetur. Esse iusto quos ad a
                laboriosam beatae saepe unde nemo error quibusdam tempora neque delectus odit similique commodi sequi
                ipsum consectetur, eius corporis, aliquam alias illum consequatur assumenda? Magni, excepturi
                necessitatibus! Similique enim debitis pariatur molestiae velit in doloribus! Expedita quod eaque
                delectus nobis minima nesciunt. Similique consectetur deserunt, accusamus earum quia sit modi vel esse
                provident consequatur quam? Voluptates porro soluta ullam, nam consectetur tempora iste veniam sint
                mollitia? Nemo magnam explicabo reprehenderit natus officia assumenda vel voluptates harum porro, ullam
                eum dolore dolorum nostrum deleniti aliquam iure officiis voluptate nobis velit quidem nisi quo
                consequatur minus eligendi? Recusandae officia nemo incidunt debitis vel laborum dolor, facere voluptas
                necessitatibus doloribus temporibus eligendi totam est? Hic ab vel beatae quos, quod numquam, ipsum
                doloribus ducimus dolorem, consectetur quam corporis ad odit omnis molestiae sit fugiat debitis
                accusamus? Fugiat delectus itaque ad iusto omnis asperiores nostrum illo corrupti architecto. Omnis
                quasi ullam cum, molestias eaque debitis. Nobis vero alias assumenda reiciendis enim illum inventore
                repellendus voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, numquam aspernatur! Earum facere dolore
                alias, ratione quis itaque tempora corrupti sit enim ipsa quisquam! Architecto doloribus repudiandae
                cupiditate quam maiores dolorum nesciunt labore incidunt animi iure? Mollitia laborum minus eum
                dignissimos, voluptatibus tempora. Illo rem repudiandae dignissimos voluptate aperiam veritatis
                voluptatem officia. Accusantium cupiditate doloribus delectus in minus, fugiat magnam cum voluptatem sit
                quidem. Tenetur modi, sequi consectetur facilis, atque est quasi dicta, repellendus aperiam praesentium
                magni dolorum non fugiat libero distinctio esse saepe eligendi accusamus quam at? Perspiciatis earum
                magnam id fugit optio necessitatibus, cumque ab perferendis unde odio?

                <div class="myth-info-img">
                    <img src="../../img/egypt/myths/osiris.png" alt="Pintura en la que se representa el mito de Osiris">
                </div>
            </div>
        </section>

        <section class="myth-section">
            <header>
                <h2>Nombre secreto de Ra</h2>
            </header>
            <div class="myth-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quis perspiciatis, ab commodi nostrum
                laboriosam modi facilis libero, mollitia voluptates nihil distinctio corrupti quos, delectus debitis
                neque culpa? Praesentium quae tempore perferendis odit, quam consectetur. Esse iusto quos ad a
                laboriosam beatae saepe unde nemo error quibusdam tempora neque delectus odit similique commodi sequi
                ipsum consectetur, eius corporis, aliquam alias illum consequatur assumenda? Magni, excepturi
                necessitatibus! Similique enim debitis pariatur molestiae velit in doloribus! Expedita quod eaque
                delectus nobis minima nesciunt. Similique consectetur deserunt, accusamus earum quia sit modi vel esse
                provident consequatur quam? Voluptates porro soluta ullam, nam consectetur tempora iste veniam sint
                mollitia? Nemo magnam explicabo reprehenderit natus officia assumenda vel voluptates harum porro, ullam
                eum dolore dolorum nostrum deleniti aliquam iure officiis voluptate nobis velit quidem nisi quo
                consequatur minus eligendi? Recusandae officia nemo incidunt debitis vel laborum dolor, facere voluptas
                necessitatibus doloribus temporibus eligendi totam est? Hic ab vel beatae quos, quod numquam, ipsum
                doloribus ducimus dolorem, consectetur quam corporis ad odit omnis molestiae sit fugiat debitis
                accusamus? Fugiat delectus itaque ad iusto omnis asperiores nostrum illo corrupti architecto. Omnis
                quasi ullam cum, molestias eaque debitis. Nobis vero alias assumenda reiciendis enim illum inventore
                repellendus voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, numquam aspernatur! Earum facere dolore
                alias, ratione quis itaque tempora corrupti sit enim ipsa quisquam! Architecto doloribus repudiandae
                cupiditate quam maiores dolorum nesciunt labore incidunt animi iure? Mollitia laborum minus eum
                dignissimos, voluptatibus tempora. Illo rem repudiandae dignissimos voluptate aperiam veritatis
                voluptatem officia. Accusantium cupiditate doloribus delectus in minus, fugiat magnam cum voluptatem sit
                quidem. Tenetur modi, sequi consectetur facilis, atque est quasi dicta, repellendus aperiam praesentium
                magni dolorum non fugiat libero distinctio esse saepe eligendi accusamus quam at? Perspiciatis earum
                magnam id fugit optio necessitatibus, cumque ab perferendis unde odio?

                <div class="myth-info-img">
                    <img src="../../img/egypt/myths/ra.webp" alt="Pintura en la que se representa al dios Ra">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer>

</body>
</html>