<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egipcia Deidades</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-egypt-gods.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>
<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px" width="122.22">
            <h1>Egipcia</h1>
        </div>
        <h2>Deidades</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <button id="burger" class="hamburger hamburger--minus" type="button" onclick="toggleMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div id="menu" class="menu">
            <div class="nav-logo" onclick="location.href='../index.html'">
                <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                <h2>Mytho</h2>
            </div>
            <div class="nav-links">
                <details>
                    <summary>Mitologías</summary>
                    <div class="links">
                        <a href="../index.html#egipcia"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png"/></span>Egipcia</a>
                        <a href="../index.html#nordica"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png"/></span>Nórdica</a>
                        <a href="../index.html#griega"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"/></span>Griega</a>
                        <a href="../index.html#romana"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png"/></span>Romana</a>
                        <a href="../index.html#azteca"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png"/></span>Azteca</a>
                        <a href="../index.html#maya"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png"/></span>Maya</a>
                        <a href="../index.html#sumeria"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/nail.png"/></span>Sumeria</a>
                    </div>
                </details>
            </div>
            <div class="contact-link">
                <a href="contact.html">Contacto</a>
            </div>
        </div>
    </nav>

    <main id="main">

        <div class="card" id="ra">
            <div class="card-info">
                <h3>Ra</h3>
                <p>Dios del Sol</p>
            </div>
        </div>

        <div class="card" id="osiris">
            <div class="card-info">
                <h3>Osiris</h3>
                <p>Dios de la resurrección</p>
            </div>
        </div>

        <div class="card" id="isis">
            <div class="card-info">
                <h3>Isis</h3>
                <p>Diosa de la magia y la sabiduría</p>
            </div>
        </div>

        <div class="card" id="neftis">
            <div class="card-info">
                <h3>Neftis</h3>
                <p>Diosa de la oscuridad</p>
            </div>
        </div>

        <div class="card" id="horus">
            <div class="card-info">
                <h3>Horus</h3>
                <p>Dios del cielo</p>
            </div>
        </div>

        <div class="card" id="seth">
            <div class="card-info">
                <h3>Seth</h3>
                <p>Dios del mal</p>
            </div>
        </div>

        <div class="card" id="bastet">
            <div class="card-info">
                <h3>Bastet</h3>
                <p>Diosa protectora el hogar</p>
            </div>
        </div>

        <div class="card" id="hathor">
            <div class="card-info">
                <h3>Hathor</h3>
                <p>Diosa del amor y la felicidad</p>
            </div>
        </div>

        <div class="card" id="anubis">
            <div class="card-info">
                <h3>Anubis</h3>
                <p>Dios de la momificación y la muerte</p>
            </div>
        </div>

        <div class="card" id="thot">
            <div class="card-info">
                <h3>Thot</h3>
                <p>Dios de la sabiduría y la escritura</p>
            </div>
        </div>

        <div class="card" id="tauret">
            <div class="card-info">
                <h3>Tauret</h3>
                <p>Diosa de la fertilidad y protectora de las mujeres</p>
            </div>
        </div>

        <div class="card" id="sejmet">
            <div class="card-info">
                <h3>Sejmet</h3>
                <p>Diosa de la guerra</p>
            </div>
        </div>

        <div class="card" id="hapi">
            <div class="card-info">
                <h3>Hapi</h3>
                <p>Dios de la inundación</p>
            </div>
        </div>

        <div class="card" id="sobek">
            <div class="card-info">
                <h3>Sobek</h3>
                <p>Dios de los cocodrilos</p>
            </div>
        </div>

        <div class="card" id="geb">
            <div class="card-info">
                <h3>Geb</h3>
                <p>Dios creador</p>
            </div>
        </div>

        <div class="card" id="nut">
            <div class="card-info">
                <h3>Nut</h3>
                <p>Diosa del cielo, creadora del universo</p>
            </div>
        </div>

        <div class="card" id="shu">
            <div class="card-info">
                <h3>Shu</h3>
                <p>Dios del aire y la luz</p>
            </div>
        </div>

        <div class="card" id="ptah">
            <div class="card-info">
                <h3>Ptah</h3>
                <p>Dios creador y de los artesanos</p>
            </div>
        </div>

        <div class="card" id="maat">
            <div class="card-info">
                <h3>Maat</h3>
                <p>Diosa de la verdad, justicia y armonía</p>
            </div>
        </div>

        <div class="card" id="jepri">
            <div class="card-info">
                <h3>Jepri</h3>
                <p>Dios solar autocreado</p>
            </div>
        </div>

        <div class="card" id="jnum">
            <div class="card-info">
                <h3>Jnum</h3>
                <p>Dios de la creación</p>
            </div>
        </div>

        <div class="card" id="amon">
            <div class="card-info">
                <h3>Amon</h3>
                <p>Dios creador</p>
            </div>
        </div>

        <div class="card" id="atum">
            <div class="card-info">
                <h3>Atum</h3>
                <p>Dios solar creador</p>
            </div>
        </div>

        <div class="card" id="jonsu">
            <div class="card-info">
                <h3>Josnu</h3>
                <p>Dios lunar y protector de los enfermos</p>
            </div>
        </div>

        <div class="card" id="apofis">
            <div class="card-info">
                <h3>Apofis</h3>
                <p>Representación del mal y el caos</p>
            </div>
        </div>

    </main>
    
    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer> 

</body>
</html>