<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egipcia Deidades</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-egypt-gods.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>
<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px" width="122.22">
            <h1>Egipcia</h1>
        </div>
        <h2>Deidades</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-mob">
            <button id="burger" class="hamburger hamburger--minus" type="button" onclick="toggleMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div id="nav-pc" class="nav-pc">
            <div class="nav-logo" onclick="location.href='../index.html'">
                <img src="../../img/logo.png" alt="Logo del sitio web" height="40px" width="24.44">
                <h2>Mytho</h2>
            </div>
            <div class="nav-links">
                <a href="#egipcia">Egipcia</a>
                <a href="#nordica">Nórdica</a>
                <a href="#griega">Griega</a>
                <a href="#romana">Romana</a>
                <a href="#azteca">Azteca</a>
                <a href="#maya">Maya</a>
                <a href="#sumeria">Sumeria</a>
            </div>
        </div>
    </nav>

    <main id="main">

        <div class="card" id="ra">
            <div class="card-info">
                <h3>Ra</h3>
                <p>Dios del Sol</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="osiris">
            <div class="card-info">
                <h3>Osiris</h3>
                <p>Dios de la resurrección</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="isis">
            <div class="card-info">
                <h3>Isis</h3>
                <p>Diosa de la magia y la sabiduría</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="neftis">
            <div class="card-info">
                <h3>Neftis</h3>
                <p>Diosa de la oscuridad</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="horus">
            <div class="card-info">
                <h3>Horus</h3>
                <p>Dios del cielo</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="seth">
            <div class="card-info">
                <h3>Seth</h3>
                <p>Dios del mal</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="bastet">
            <div class="card-info">
                <h3>Bastet</h3>
                <p>Diosa protectora el hogar</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="hathor">
            <div class="card-info">
                <h3>Hathor</h3>
                <p>Diosa del amor y la felicidad</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="anubis">
            <div class="card-info">
                <h3>Anubis</h3>
                <p>Dios de la momificación y la muerte</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="thot">
            <div class="card-info">
                <h3>Thot</h3>
                <p>Dios de la sabiduría y la escritura</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="tauret">
            <div class="card-info">
                <h3>Tauret</h3>
                <p>Diosa de la fertilidad y protectora de las mujeres</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="sejmet">
            <div class="card-info">
                <h3>Sejmet</h3>
                <p>Diosa de la guerra</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="hapi">
            <div class="card-info">
                <h3>Hapi</h3>
                <p>Dios de la inundación</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="sobek">
            <div class="card-info">
                <h3>Sobek</h3>
                <p>Dios de los cocodrilos</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="geb">
            <div class="card-info">
                <h3>Geb</h3>
                <p>Dios creador</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="nut">
            <div class="card-info">
                <h3>Nut</h3>
                <p>Diosa del cielo, creadora del universo</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="shu">
            <div class="card-info">
                <h3>Shu</h3>
                <p>Dios del aire y la luz</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="ptah">
            <div class="card-info">
                <h3>Ptah</h3>
                <p>Dios creador y de los artesanos</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="maat">
            <div class="card-info">
                <h3>Maat</h3>
                <p>Diosa de la verdad, justicia y armonía</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="jepri">
            <div class="card-info">
                <h3>Jepri</h3>
                <p>Dios solar autocreado</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="jnum">
            <div class="card-info">
                <h3>Jnum</h3>
                <p>Dios de la creación</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="amon">
            <div class="card-info">
                <h3>Amon</h3>
                <p>Dios creador</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="atum">
            <div class="card-info">
                <h3>Atum</h3>
                <p>Dios solar creador</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="jonsu">
            <div class="card-info">
                <h3>Josnu</h3>
                <p>Dios lunar y protector de los enfermos</p>
                <button class="card-button">Más</button>
            </div>
        </div>

        <div class="card" id="apofis">
            <div class="card-info">
                <h3>Apofis</h3>
                <p>Representación del mal y el caos</p>
                <button class="card-button">Más</button>
            </div>
        </div>

    </main>
    
    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer> 

</body>
</html>