<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egipcia Mitos</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-egypt-myths.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>

<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px" width="122.22">
            <h1>Egipcia</h1>
        </div>
        <h2>Mitos</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <div id="burger" class="hamburger hamburger--minus" onclick="toggleMenu()">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div id="menu" class="menu" onclick="toggleMenu()">
            <div class="nav-links">
                <div class="nav-logo" onclick="location.href='../index.html'">
                    <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                    <h2>Mytho</h2>
                </div>
                <div class="links">
                    <a href="../index.html#egipcia"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png" alt="Icono ankh" width="20"
                                height="20" /></span>Egipcia</a>
                    <a href="../index.html#nordica"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png" alt="Icono drakkar"
                                width="20" height="20" /></span>Nórdica</a>
                    <a href="../index.html#griega"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"
                                alt="Icono venus" width="20" height="20" /></span>Griega</a>
                    <a href="../index.html#romana"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png" alt="Icono coliseo"
                                width="20" height="20" /></span>Romana</a>
                    <a href="../index.html#azteca"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png" alt="Icono plumas"
                                width="20" height="20" /></span>Azteca</a>
                    <a href="../index.html#maya"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png" alt="Icono piramide"
                                width="20" height="20" /></span>Maya</a>
                    <a href="../index.html#sumeria"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/nail.png" alt="Icono cincel" width="20"
                                height="20" /></span>Sumeria</a>
                </div>
                <div class="contact-link">
                    <a href="../contact.html">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div id="menu-bg" class="menu-bg" onclick="toggleMenu()"></div>

        <section class="myth-section" id="creacion">
            <header>
                <h2>La creación</h2>
            </header>
            <div class="myth-info">
                <p>
                    Dice la leyenda que en un principio solo existía un inmenso e infinito océano de nombre Nun, el cual
                    permanecía inmóvil y totalmente dormido. Ni cielo ni tierra, ni plantas ni animales ni el hombre
                    existían. Solo Nun, el cual contenía todos los elementos posibles. Pero un día, el mundo tomó
                    conciencia de sí mismo y de su situación, dándose el nombre de Ra. Este sería el primer dios, el
                    cual al principio estaba solo en medio del océano. Pero poco a poco empezó a crear: su aliento se
                    tornaría el dios Shu, el aire, y su saliva al dios de la humedad Tefnut.
                </p>
                <p>
                    A continuación creó una isla o tierra en la que reposar, la cual denominó Egipto, y al nacer del
                    agua decidió crear el Nilo para alimentarla. Con los elementos del gran océano Ra fue creando los
                    distintos seres vivos.
                </p>
                <p>
                    Shu y Tefnut, en otro punto del Nun, tuvieron hijos, la deidad Geb de la Tierra, y Nut, del Cielo.
                    Ambos hijos tuvieron relaciones y su padre Shu, celoso, decidió separarlos sosteniendo al primero
                    bajo sus pies y la segunda sobre su cabeza. De la unión de ambos dioses nacerían las estrellas y el
                    resto de deidades.
                </p>
                <p>
                    Acabada su creación el dios Ra mandó a uno de sus ojos a buscar a su prole, pero dicho ojo se
                    encontraría a volver que al dios le había crecido otro nuevo. Desesperado, el ojo empezó a llorar,
                    creando sus lágrimas a los primeros seres humanos. El dios Ra, viendo su dolor, se lo colocó en la
                    frente: se había creado el Sol.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/egypt/myths/creacion.webp" alt="Creación según los egipcios">
            </div>
        </section>

        <section class="myth-section" id="osiris">
            <header>
                <h2>Muerte de Osiris</h2>
            </header>
            <div class="myth-info">
                <p>
                    Osiris era inicialmente el gobernador del territorio de Egipto, siendo el hijo mayor de Nut y Geb.
                    Su hermano Seth le tenía gran odio y rencor, según algunas versiones por haber tenido relaciones con
                    su pareja Neftis, y decidió quitarle la vida. Un día, en una fiesta, Seth trajo un ataúd el cual se
                    quedaría aquella persona que cupiera en él, siendo únicamente Osiris quien cabía dentro. Tras entrar
                    en el sarcófago, Seth lo encerró y lo lanzó al río, donde murió.
                </p>
                <p>
                    La mujer de Osiris, Isis, se propuso recuperar el cuerpo, a lo que Seth respondió descuartizándolo y
                    separando sus diversas partes. Seth, ante la muerte de su hermano, tomó el poder. Isis, con ayuda de
                    otras deidades, logró reunir todas o casi todas las partes del cuerpo de su marido y tras
                    momificarlo posteriormente le devolvió a la vida. Tras ello copuló con su marido, una unión que
                    provocaría el nacimiento de Horus. La vuelta a la vida de Osiris traería consigo un cambio: pasaría
                    de ser un dios de la vida a ser una deidad vinculada a la vida eterna y a la preservación y guía de
                    los muertos en el más allá.
                </p>
                <p>
                    Asimismo, su hijo Horus y se hermano Seth también se enfrentarían por el trono durante años, con
                    múltiples conflictos en que ambos resultan heridos y resultando vencedor de estos Horus, quien
                    obtendría el legado de su padre.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/egypt/myths/osiris.webp" alt="Anubis resucitando a Osiris">
            </div>
        </section>

        <section class="myth-section" id="ra">
            <header>
                <h2>Nombre secreto de Ra</h2>
            </header>
            <div class="myth-info">
                <p>
                    Dice la leyenda que en una ocasión en la que un anciano dios Ra comenzaba a perder poder y
                    facultades el resto de dioses empezó a ambicionar su poder. El dios tenía múltiples nombres, pero
                    había uno que no era conocido por nadie y del cual extraía la mayor parte de su poder. La diosa Isis
                    deseaba conocer dicho nombre, debido a que quería el trono y los dones de Ra para su futuro hijo
                    Horus.
                </p>
                <p>
                    En su sabiduría la diosa tramó un plan para lograr conocer dicho nombre, el nombre secreto y
                    verdadero de la deidad. Empezó a recoger los efluvios salivales de Ra y al mezclarlos con tierra la
                    diosa dio origen a la primera de las cobras, para posteriormente lanzarla en el camino de su padre.
                </p>
                <p>
                    La cobra mordió y envenenó a Ra, ante lo cual Isis se ofreció a curarle a cambio de que le dijera
                    cuál era su nombre verdadero y secreto (oculto hasta para los mismos dioses). El dios aceptó con la
                    condición de que Isis jurara no revelarlo a nadie más que a Horus, algo a lo que accedió y tras lo
                    cual hizo que el veneno saliera del dios y que este se recuperara. Ra compartió su nombre verdadero
                    con ella y con su hijo, dándoles así un gran poder y el futuro trono de Egipto.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/egypt/myths/ra.webp" alt="Ra en su barcaza">
            </div>
        </section>

        <section class="myth-section" id="juicio">
            <header>
                <h2>Juicio de Osiris</h2>
            </header>
            <div class="myth-info">
                <p>
                    El Juicio de Osiris era un gran acontecimiento en el que se decidía el destino del difunto.
                </p>
                <p>
                    El juicio tenía lugar en la Duat, donde las almas eran guiadas por Anubis, el dios con cabeza de
                    chacal, hasta la sala de las Dos Verdades. Allí se encontraba con Osiris, que era el encargado de
                    dictar la sentencia y decidir si el alma del muerto podía ir al paraíso o no. Anubis extraía el
                    corazón del difunto, símbolo de la moral y de la conciencia, y lo colocaba en un plato de la
                    balanza. En el otro plato ponía la pluma de Maat, la diosa que representaba la verdad y la justicia.
                </p>
                <p>
                    A partir de ese momento, un jurado de 42 dioses iba formulando preguntas sobre el pasado del difunto
                    y su comportamiento moral. En función de la respuesta, el corazón podía aumentar o disminuir de
                    peso, haciendo decantar la balanza hacia un lado o hacia el otro. Thot, el dios de la sabiduría, era
                    el encargado de anotar los resultados del pesaje, y finalmente Osiris exponía el resultado ante el
                    tribunal divino.
                </p>
                <p>
                    Si la balanza estaba equilibrada quería decir que el difunto había dicho la verdad, y por
                    consiguiente su alma se consideraba buena y justa. A partir de ese momento sería guiada por Horus
                    hasta su cuerpo momificado, al que se le abrirían los ojos y la boca en una ceremonia ritual para
                    disfrutar de una vida eterna en el Aaru o Tierra de los Juncos, que era el paraíso egipcio. En caso
                    contrario, Amut, una terrorífica deidad con cabeza de cocodrilo, piernas delanteras de león y
                    cuartos traseros de hipopótamo, se encargaría de la llamada “Segunda Muerte”, devorando el cuerpo
                    del difunto y evitando así que se hiciera inmortal, dejando de existir para siempre.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/egypt/myths/juicio.webp" alt="Balanza en la sala del juicio">
            </div>
        </section>

        <section class="myth-section" id="nut">
            <header>
                <h2>Los hijos de Nut</h2>
            </header>
            <div class="myth-info">
                <p>
                    Este mito explica el origen del calendario egipcio y los cambios de forma de la Luna.
                </p>
                <p>
                    En un principio los años solo constaban de 360 días. En una etapa de la creación
                    en que Ra gobernaba, se predijo que su nieta Nut tendría relaciones con Geb, algo que según la
                    profecía tendría como resultado un hijo que le arrebataría el poder. La joven estaba ya embarazada,
                    con lo que con tal de evitarlo Ra lanzó una maldición de Nut, de tal modo que no pudiera tener hijos
                    ninguno de los días del año. La deidad estaba desesperada, pero acudió en su ayuda el dios Thot,
                    quien ideó un método para que pudiera hacerlo.
                </p>
                <p>
                    Thot acudió al dios de la luna Jonsu, con el cual procedió a jugar al Senet, un popular juego de
                    mesa en el antiguo Egipto, apostándose tiempo y la luz de la
                    Luna. Thot fue ganando en múltiples ocasiones, con lo que a lo largo del juego logró conseguir
                    suficiente tiempo como para crear cinco días. Estos días, que no formaban parte del año, podrían ser
                    usados por Nut para parir a sus hijos. Y así pudo la diosa parir a Osiris, Seth, Isis y Neftis, de
                    los cuales Osiris alcanzaría el puesto de su padre.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/egypt/myths/nut.webp" alt="Representación de Geb y Nut">
            </div>
        </section>

        <div class="arrow-to-top">
            <a href="#header">
                <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/eflfmgmj.json" trigger="loop" delay="2500"
                    colors="primary:#ff9d59" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer>

</body>

</html>