<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maya Mitos</title>

    <meta name="description" content="Mitos y leyendas de la mitología maya">
    <meta name="keywords" content="mitologia, deidades, mitos, maya">
    <meta name="author" content="Pablo Moreno">

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-mayan-myths.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>

<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px">
            <h1>Maya</h1>
        </div>
        <h2>Mitos</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
        <div class="to-gods">
            <a href="mayan-gods.html">
                <div class="flecha">
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="loop" delay="2500"
                        colors="primary:#ffffff" state="hover-1" style="width:30px;height:50px">
                    </lord-icon>
                </div>
                <span>Deidades</span>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <div id="burger" class="hamburger hamburger--minus" onclick="toggleMenu()">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div id="menu" class="menu" onclick="toggleMenu()">
            <div class="nav-links">
                <div class="nav-logo" onclick="location.href='../index.html'">
                    <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                    <h2>Mytho</h2>
                </div>
                <div class="links">
                    <a href="../index.html#egipcia"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png" alt="Icono ankh" width="20"
                                height="20" /></span>Egipcia</a>
                    <a href="../index.html#nordica"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png" alt="Icono drakkar"
                                width="20" height="20" /></span>Nórdica</a>
                    <a href="../index.html#griega"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"
                                alt="Icono venus" width="20" height="20" /></span>Griega</a>
                    <a href="../index.html#romana"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png" alt="Icono coliseo"
                                width="20" height="20" /></span>Romana</a>
                    <a href="../index.html#azteca"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png" alt="Icono plumas"
                                width="20" height="20" /></span>Azteca</a>
                    <a href="../index.html#maya"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png" alt="Icono piramide"
                                width="20" height="20" /></span>Maya</a>
                    <a href="../index.html#sumeria"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/nail.png" alt="Icono cincel" width="20"
                                height="20" /></span>Sumeria</a>
                </div>
                <div class="contact-link">
                    <a href="../contact.html">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <main id="main">
        <div id="menu-bg" class="menu-bg" onclick="toggleMenu()"></div>

        <section class="myth-section" id="creacion">
            <header>
                <h2>La creación de la Tierra</h2>
            </header>
            <div class="myth-info">
                <p>
                    Antes de la existencia de la misma existían solo dos dioses: Tepeu y Gucumatz. Ellos fueron quienes
                    se unieron para crear el mundo.
                </p>
                <p>
                    A partir de sus pensamientos, todo lo que pensaban se creó. Así se crearon las montañas, los valles,
                    el cielo, el agua y todas las formas de vida que habitan la Tierra.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/mayan/myths/creacion.webp" alt="Creación de la tierra maya">
            </div>
        </section>

        <section class="myth-section" id="vida">
            <header>
                <h2>La creación de la vida en la Tierra</h2>
            </header>
            <div class="myth-info">
                <p>
                    Los dioses Tepeu y Gucumatz hicieron que los seres a quienes crearon, cuidasen de sus creaciones y
                    los alabasen.
                </p>
                <p>
                    Pero hasta entonces no había seres capaces de hablar, por lo que emprendieron la tarea de crearlos.
                    En su primer intento, los hombres de arcilla a los que les dieron vida eran incapaces de hablar.
                </p>
                <p>
                    Luego, los hombres de madera sí podían hacerlo pero no eran capaces de pensar ni de amar. Entonces
                    provocaron un gran diluvio para destruirlos.
                </p>
                <p>
                    En su último intento crearon cuatro hombres de pasta de maíz con todas las características que
                    deseaban. Posteriormente crearon cuatro mujeres para ellos. Y estos ocho seres humanos, fueron los
                    antepasados de todos los hombres de la actualidad.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/mayan/myths/vida.webp" alt="Creación de la vida maya">
            </div>
        </section>

        <section class="myth-section" id="fuego">
            <header>
                <h2>El fuego</h2>
            </header>
            <div class="myth-info">
                <p>
                    Un ángel comunicó a uno de los dioses creadores la existencia de un mundo habitado por seres
                    humanos en la inmensidad del cosmos. Tras una visita relámpago, el dios constató que los humanos
                    vivían en un mundo parcialmente helado, así que les bendijo con un regalo: les dio el Fuego.
                </p>
                <p>
                    Para hacerlo, el dios mandó un rayo que partió un árbol y lo convirtió en una gran hoguera, pero los
                    hombres se asustaron y huyeron, dejando que este se convirtiera en ceniza. Como segundo intento, les
                    envió un meteorito que quemó todos los bosques. Los hombre huyeron, dejando que los bosques se
                    convirtieran en ceniza.
                </p>
                <p>
                    Sólo un hombre curiosos decidió acercarse y, al tocar la ceniza, se dio cuenta de que quemaba. Al
                    arrojar las cenizas en un montón de hierba seca, estas se incendiaron, y entonces comprendió el
                    poder del fuego. La luz y el calor acompañaron a los hombres durante muchos días, hasta que una
                    lluvia torrencial lo extinguió nuevamente.
                </p>
                <p>
                    Enfurecido, el hombre volvió a las montañas y golpeando una piedra sobre la otra se dio cuenta de
                    que aparecían chispas y eso originaba nuevamente el fuego. El dios suspiró tranquilo, y se retiró de
                    nuevo a sus aposentos. Desde entonces la cultura mesoamericana considera el fuego como un regalo de
                    los dioses.
                </p>
            </div>
            <!-- <div class="myth-info-img">
                <img src="../../img/mayan/myths/fuego.webp" alt="Mito del fuego maya">
            </div> -->
        </section>

        <section class="myth-section" id="loto">
            <header>
                <h2>La flor de loto</h2>
            </header>
            <div class="myth-info">
                <p>
                    En la selva de Mayab, el príncipe Chacdziedzib (pájaro cardenal en lengua maya) se enamoró locamente
                    de la hija del guardián del cenote (depósito de agua manantial). Esta doncella se llamaba Nicté-Ha
                    (flor de loto en lengua maya). Pero la oposición de su padre hizo que los dioses decretaran la
                    muerte de la chica.
                </p>
                <p>
                    Un bufón de la corte del príncipe conocedor de los planes de los dioses advirtió a su amo, que
                    escogió al mejor de sus caballeros para rescatar a la doncella. Pero este murió en su intento, y
                    entonces Chacdziedzib asumió personalmente el reto. Llegó así hasta la doncella y la salvó, pero
                    mientras permanecían abrazados una flecha atravesó el corazón de Nicté-Ha.
                </p>
                <p>
                    Así es como la chica murió y su cuerpo se hundió en el agua, invadiendo el corazón del príncipe de
                    un dolor inenarrable. Para redimirlo, el dios de las aguas y el dios de las aves convirtieron al
                    príncipe en un pájaro cardenal y a la princesa en una flor de loto. Desde entonces, cada mañana el
                    pájaro le canta a la flor su amor sincero.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/mayan/myths/loto.webp" alt="Mito de la flor de loto">
            </div>
        </section>

        <section class="myth-section" id="luna">
            <header>
                <h2>Ixchel y la luna</h2>
            </header>
            <div class="myth-info">
                <p>
                    Cuando los dioses eran aún mortales existía una bella doncella llamada Ixchel. Entre sus muchos
                    pretendientes llamaban la atención un joven llamado Itzamná y otro de nombre desconocido.
                </p>
                <p>
                    Para resolver la situación la hermana de la bella muchacha, llamada Ixtab, convocó a los dos
                    pretendientes y les retó a una lucha en la que sólo podría quedar uno en pie. Itzamná fue más hábil
                    y luchó con más arrojo, pero cuando ya tenía a su contrincante sometido, en un descuido este se
                    revolvió y le derrotó.
                </p>
                <p>
                    Afligida por la muerte de su amado, Ixchel corre hacia su hermana y le dice que su alma siempre
                    estará con Itzanmá. Acto seguido se suicida, y entonces Ixtab para vengar su muerte decide matar al
                    hombre que había dado muerte a Iztamná.
                </p>
                <p>
                    Es así como Iztamná se convirtió en el dios del Sol, Ixchel en la diosa de la Luna, e Ixtab, que
                    hasta entonces era la diosa Luna, pasó a ser la divinidad del suicidio. Los mayas creían que cuando
                    en el cielo coinciden Ixchel y Iztamná, el sol y la luna, se realiza el amor de los amantes.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/mayan/myths/luna.webp" alt="Ixchel">
            </div>
        </section>

        <div class="arrow-to-top">
            <a href="#header">
                <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/eflfmgmj.json" trigger="loop" delay="2500"
                    colors="primary:#ff9d59" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer>

</body>

</html>