<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nórdica Deidades</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../..//styles/css/style-norse-gods.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>
<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px">
            <h1>Nórdica</h1>
        </div>
        <h2>Deidades</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
        <div class="to-myths">
            <a href="norse-myths.html">
                <span>Mitos</span>
                <div class="flecha">
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="loop" delay="2500"
                        colors="primary:#ffffff" state="hover-1" style="width:30px;height:50px">
                    </lord-icon>
                </div>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <div id="burger" class="hamburger hamburger--minus" onclick="toggleMenu()">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div id="menu" class="menu" onclick="toggleMenu()">
            <div class="nav-links">
                <div class="nav-logo" onclick="location.href='../index.html'">
                    <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                    <h2>Mytho</h2>
                </div>
                <div class="links">
                    <a href="../index.html#egipcia"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png" alt="Icono ankh" width="20" height="20"/></span>Egipcia</a>
                    <a href="../index.html#nordica"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png" alt="Icono drakkar" width="20" height="20"/></span>Nórdica</a>
                    <a href="../index.html#griega"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png" alt="Icono venus" width="20" height="20"/></span>Griega</a>
                    <a href="../index.html#romana"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png" alt="Icono coliseo" width="20" height="20"/></span>Romana</a>
                    <a href="../index.html#azteca"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png" alt="Icono plumas" width="20" height="20"/></span>Azteca</a>
                    <a href="../index.html#maya"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png" alt="Icono piramide" width="20" height="20"/></span>Maya</a>
                    <a href="../index.html#sumeria"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/nail.png" alt="Icono cincel" width="20" height="20"/></span>Sumeria</a>
                </div>
                <div class="contact-link">
                    <a href="../contact.html">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <main id="main">
        <div id="menu-bg" class="menu-bg" onclick="toggleMenu()"></div>

        <div class="card" id="odin">
            <div class="card-info">
                <h3>Odin</h3>
                <p>Dios de la sabiduría, la guerra y la muerte</p>
            </div>
        </div>

        <div class="card" id="thor">
            <div class="card-info">
                <h3>Thor</h3>
                <p>Dios del trueno y la fuerza</p>
            </div>
        </div>

        <div class="card" id="freyr">
            <div class="card-info">
                <h3>Freyr</h3>
                <p>Dios de la lluvia, del sol naciente y de la fertilidad</p>
            </div>
        </div>

        <div class="card" id="freyja">
            <div class="card-info">
                <h3>Freyja</h3>
                <p>Diosa del amor, la belleza y la fertilidad</p>
            </div>
        </div>

        <div class="card" id="loki">
            <div class="card-info">
                <h3>Loki</h3>
                <p>Dios del engaño y las travesuras</p>
            </div>
        </div>

        <div class="card" id="baldr">
            <div class="card-info">
                <h3>Baldr</h3>
                <p>Dios de la paz, la luz y el perdón</p>
            </div>
        </div>

        <div class="card" id="bragi">
            <div class="card-info">
                <h3>Bragi</h3>
                <p>Dios de la poesía y los bardos</p>
            </div>
        </div>

        <div class="card" id="frigg">
            <div class="card-info">
                <h3>Frigg</h3>
                <p>Diosa de la fertilidad, el amor, el manejo del hogar, el matrimonio, la sabiduría, etc</p>
            </div>
        </div>

        <div class="card" id="tyr">
            <div class="card-info">
                <h3>Tyr</h3>
                <p>Dios de la guerra y el orden</p>
            </div>
        </div>

        <div class="card" id="heimdal">
            <div class="card-info">
                <h3>Heimdal</h3>
                <p>Dios guardián</p>
            </div>
        </div>

        <div class="card" id="hela">
            <div class="card-info">
                <h3>Hela</h3>
                <p>Diosa del inframundo</p>
            </div>
        </div>

        <div class="card" id="idunn">
            <div class="card-info">
                <h3>Idunn</h3>
                <p>Diosa de la poesía</p>
            </div>
        </div>

        <div class="card" id="njordr">
            <div class="card-info">
                <h3>Njordr</h3>
                <p>Dios de la tierra fértil y de la costa marina</p>
            </div>
        </div>

        <div class="card" id="skadi">
            <div class="card-info">
                <h3>Skadi</h3>
                <p>Diosa del invierno y cazadora</p>
            </div>
        </div>

        <div class="card" id="ullr">
            <div class="card-info">
                <h3>Ullr</h3>
                <p>Dios de la caza, el tiro con arco y el esquí</p>
            </div>
        </div>

    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer> 

</body>
</html>