<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romana Deidades</title>
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-roman-gods.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>
<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px">
            <h1>Romana</h1>
        </div>
        <h2>Deidades</h2>
        <div class="arrow">
            <a href="#mitologia">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <button id="burger" class="hamburger hamburger--minus" type="button" onclick="toggleMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div id="menu" class="menu">
            <div class="nav-logo" onclick="location.href='../index.html'">
                <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                <h2>Mytho</h2>
            </div>
            <div class="nav-links">
                <details>
                    <summary>Mitologías</summary>
                    <div class="links">
                        <a href="../index.html#egipcia"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png"/></span>Egipcia</a>
                        <a href="../index.html#nordica"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png"/></span>Nórdica</a>
                        <a href="../index.html#griega"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"/></span>Griega</a>
                        <a href="../index.html#romana"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png"/></span>Romana</a>
                        <a href="../index.html#azteca"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png"/></span>Azteca</a>
                        <a href="../index.html#maya"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png"/></span>Maya</a>
                        <a href="../index.html#sumeria"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/nail.png"/></span>Sumeria</a>
                    </div>
                </details>
            </div>
            <div class="contact-link">
                <a href="contact.html">Contacto</a>
            </div>
        </div>
    </nav>

    <main>

        <div class="card" id="jupiter">
            <div class="card-info">
                <h3>Júpiter</h3>
                <p>Padre de los dioses y los hombres</p>
            </div>
        </div>

        <div class="card" id="juno">
            <div class="card-info">
                <h3>Juno</h3>
                <p>Diosa del matrimonio y reina de los dioses</p>
            </div>
        </div>

        <div class="card" id="neptuno">
            <div class="card-info">
                <h3>Neptuno</h3>
                <p>Dios del mar</p>
            </div>
        </div>

        <div class="card" id="minerva">
            <div class="card-info">
                <h3>Minerva</h3>
                <p>Diosa de la sabiduría</p>
            </div>
        </div>

        <div class="card" id="marte">
            <div class="card-info">
                <h3>Marte</h3>
                <p>Dios de la guerra</p>
            </div>
        </div>

        <div class="card" id="venus">
            <div class="card-info">
                <h3>Venus</h3>
                <p>Diosa del amor y la belleza</p>
            </div>
        </div>

        <div class="card" id="febo">
            <div class="card-info">
                <h3>Febo</h3>
                <p>Dios de la poesía, la música y la medicina</p>
            </div>
        </div>

        <div class="card" id="diana">
            <div class="card-info">
                <h3>Diana</h3>
                <p>Diosa de la caza</p>
            </div>
        </div>

        <div class="card" id="mercurio">
            <div class="card-info">
                <h3>Mercurio</h3>
                <p>Dios del comercio</p>
            </div>
        </div>

        <div class="card" id="baco">
            <div class="card-info">
                <h3>Baco</h3>
                <p>Dios de la fertilidad y el vino</p>
            </div>
        </div>

        <div class="card" id="vulcano">
            <div class="card-info">
                <h3>Vulcano</h3>
                <p>Dios del fuego</p>
            </div>
        </div>

        <div class="card" id="pluton">
            <div class="card-info">
                <h3>Plutón</h3>
                <p>Dios del inframundo</p>
            </div>
        </div>

        <div class="card" id="saturno">
            <div class="card-info">
                <h3>Saturno</h3>
                <p>Dios de la agricultura y la cosecha</p>
            </div>
        </div>

        <div class="card" id="ceres">
            <div class="card-info">
                <h3>Ceres</h3>
                <p>Diosa de la agricultura y la fecundidad</p>
            </div>
        </div>

        <div class="card" id="vesta">
            <div class="card-info">
                <h3>Vesta</h3>
                <p>Diosa del hogar</p>
            </div>
        </div>

        <div class="card" id="proserpina">
            <div class="card-info">
                <h3>Proserpina</h3>
                <p>Reina del inframundo</p>
            </div>
        </div>

        <div class="card" id="cupido">
            <div class="card-info">
                <h3>Cupido</h3>
                <p>Dios del amor</p>
            </div>
        </div>

        <div class="card" id="cibeles">
            <div class="card-info">
                <h3>Cibeles</h3>
                <p>Diosa de la tierra</p>
            </div>
        </div>

        <div class="card" id="flora">
            <div class="card-info">
                <h3>Flora</h3>
                <p>Diosa de las flores, los jardines y la primavera</p>
            </div>
        </div>

        <div class="card" id="jano">
            <div class="card-info">
                <h3>Jano</h3>
                <p>Dios protector del estado</p>
            </div>
        </div>

        <div class="card" id="juventas">
            <div class="card-info">
                <h3>Juventas</h3>
                <p>Diosa de la juventud</p>
            </div>
        </div>
        
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer> 

</body>
</html>