<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Griega Deidades</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-greek-gods.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>
<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px">
            <h1>Griega</h1>
        </div>
        <h2>Deidades</h2>
        <div class="arrow">
            <a href="#mitologia">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-mob">
            <button id="burger" class="hamburger hamburger--minus" type="button" onclick="toggleMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div id="nav-pc" class="nav-pc">
            <div class="nav-logo" onclick="location.href='../index.html'">
                <img src="../../img/logo.png" alt="Logo del sitio web" height="40px" width="24.44">
                <h2>Mytho</h2>
            </div>
            <div class="nav-links">
                <a href="#egipcia">Egipcia</a>
                <a href="#nordica">Nórdica</a>
                <a href="#griega">Griega</a>
                <a href="#romana">Romana</a>
                <a href="#azteca">Azteca</a>
                <a href="#maya">Maya</a>
                <a href="#sumeria">Sumeria</a>
            </div>
        </div>
    </nav>

    <main>
        
        <section>
            <header class="sub-header">
                <h2>Dioses</h2>
            </header>

            <div class="grid">
                <div class="card" id="zeus">
                    <div class="card-info">
                        <h3>Zeus</h3>
                        <p>Dios del cielo</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="poseidon">
                    <div class="card-info">
                        <h3>Poseidón</h3>
                        <p>Dios del mar</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="hades">
                    <div class="card-info">
                        <h3>Hades</h3>
                        <p>Dios del inframundo</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="hermes">
                    <div class="card-info">
                        <h3>Hermes</h3>
                        <p>Dios mensajero y de las fronteras</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="hera">
                    <div class="card-info">
                        <h3>Hera</h3>
                        <p>Diosa de la familia, el matrimonio, la maternidad y las mujeres</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="hefesto">
                    <div class="card-info">
                        <h3>Hefesto</h3>
                        <p>Dios del fuego y la forja</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="dioniso">
                    <div class="card-info">
                        <h3>Dioniso</h3>
                        <p>Dios de la fertilidad y del vino</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="atenea">
                    <div class="card-info">
                        <h3>Atenea</h3>
                        <p>Diosa de la sabiduría</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="apolo">
                    <div class="card-info">
                        <h3>Apolo</h3>
                        <p>Dios del sol</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="artemisa">
                    <div class="card-info">
                        <h3>Artemisa</h3>
                        <p>Diosa de la caza</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="ares">
                    <div class="card-info">
                        <h3>Ares</h3>
                        <p>Dios de la guerra</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
                
                <div class="card" id="afrodita">
                    <div class="card-info">
                        <h3>Afrodita</h3>
                        <p>Diosa de la belleza y del amor</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="demeter">
                    <div class="card-info">
                        <h3>Deméter</h3>
                        <p>Diosa de la agricultura</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="hestia">
                    <div class="card-info">
                        <h3>Hestia</h3>
                        <p>Diosa del hogar</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="persefone">
                    <div class="card-info">
                        <h3>Perséfone</h3>
                        <p>Reina del inframundo</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="tanatos">
                    <div class="card-info">
                        <h3>Tánatos</h3>
                        <p>Dios de la muerte no violenta</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="morfeo">
                    <div class="card-info">
                        <h3>Morfeo</h3>
                        <p>Dios de los sueños</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="pan">
                    <div class="card-info">
                        <h3>Pan</h3>
                        <p>Dios de los pastores y rebaños</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="hebe">
                    <div class="card-info">
                        <h3>Hebe</h3>
                        <p>Diosa de la juventud</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
        
                <div class="card" id="eirene">
                    <div class="card-info">
                        <h3>Eirene</h3>
                        <p>Diosa de la paz</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="nike">
                    <div class="card-info">
                        <h3>Niké</h3>
                        <p>Diosa de la victoria</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
            </div>

            <header class="sub-header">
                <h2>Deidades primordiales</h2>
            </header>

            <div class="grid">
                <div class="card" id="caos">
                    <div class="card-info">
                        <h3>Caos</h3>
                        <p>Estado más primigenio del cosmos</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="gea">
                    <div class="card-info">
                        <h3>Gea</h3>
                        <p>Tierra Madre</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="tartaro">
                    <div class="card-info">
                        <h3>Tártaro</h3>
                        <p>Región más profunda del mundo</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="eros">
                    <div class="card-info">
                        <h3>Eros</h3>
                        <p>Dios de la atracción sexual, el amor y el sexo</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="urano">
                    <div class="card-info">
                        <h3>Urano</h3>
                        <p>Titán del cielo</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
            </div>

            <header class="sub-header">
                <h2>Titanes y titánides</h2>
            </header>

            <div class="grid">
                <div class="card" id="oceano">
                    <div class="card-info">
                        <h3>Océano</h3>
                        <p>Río Mundial</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="ceo">
                    <div class="card-info">
                        <h3>Ceo</h3>
                        <p>Titán de la inteligencia</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="crio">
                    <div class="card-info">
                        <h3>Crio</h3>
                        <p>Titán de los rebaños y las manadas</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="hiperion">
                    <div class="card-info">
                        <h3>Hiperión</h3>
                        <p>Titán de la observación</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="japeto">
                    <div class="card-info">
                        <h3>Jápeto</h3>
                        <p>Titán de la mortal vida útil</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="crono">
                    <div class="card-info">
                        <h3>Crono</h3>
                        <p>Rey de los titanes</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="febe">
                    <div class="card-info">
                        <h3>Febe</h3>
                        <p>Titánide del intelecto y profecías</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="mnemosine">
                    <div class="card-info">
                        <h3>Mnemósine</h3>
                        <p>Titánide de la memoria</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="rea">
                    <div class="card-info">
                        <h3>Rea</h3>
                        <p>Reina de los titanes</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="temis">
                    <div class="card-info">
                        <h3>Temis</h3>
                        <p>Titánide del orden divino, las leyes y las costumbres</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="tetis">
                    <div class="card-info">
                        <h3>Tetis</h3>
                        <p>Titánide del mar</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="tea">
                    <div class="card-info">
                        <h3>Tea</h3>
                        <p>Titánide de la vista</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
            </div>

            <header class="sub-header">
                <h2>Otros titanes</h2>
            </header>

            <div class="grid">
                <div class="card" id="atlas">
                    <div class="card-info">
                        <h3>Atlas</h3>
                        <p>Titán responsable de sujetar el peso de los cielos</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="circe">
                    <div class="card-info">
                        <h3>Circe</h3>
                        <p>Diosa hechicera</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="hecate">
                    <div class="card-info">
                        <h3>Hécate</h3>
                        <p>Titánide de la magia y brujería</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="helios">
                    <div class="card-info">
                        <h3>Helios</h3>
                        <p>Titán del sol</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="selene">
                    <div class="card-info">
                        <h3>Selene</h3>
                        <p>Titánide de la luna</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="leto">
                    <div class="card-info">
                        <h3>Leto</h3>
                        <p>Titánide de la noche</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>

                <div class="card" id="prometeo">
                    <div class="card-info">
                        <h3>Prometeo</h3>
                        <p>Titáni amigo de los mortales</p>
                        <button class="card-button">Más</button>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer> 

</body>
</html>