<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Griega Mitos</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-greek-myths.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>

<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px">
            <h1>Griega</h1>
        </div>
        <h2>Mitos</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
        <div class="to-gods">
            <a href="greek-gods.html">
                <div class="flecha">
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="loop" delay="2500"
                        colors="primary:#ffffff" state="hover-1" style="width:30px;height:50px">
                    </lord-icon>
                </div>
                <span>Deidades</span>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <div id="burger" class="hamburger hamburger--minus" onclick="toggleMenu()">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div id="menu" class="menu" onclick="toggleMenu()">
            <div class="nav-links">
                <div class="nav-logo" onclick="location.href='../index.html'">
                    <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                    <h2>Mytho</h2>
                </div>
                <div class="links">
                    <a href="../index.html#egipcia"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png" alt="Icono ankh" width="20"
                                height="20" /></span>Egipcia</a>
                    <a href="../index.html#nordica"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png" alt="Icono drakkar"
                                width="20" height="20" /></span>Nórdica</a>
                    <a href="../index.html#griega"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"
                                alt="Icono venus" width="20" height="20" /></span>Griega</a>
                    <a href="../index.html#romana"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png" alt="Icono coliseo"
                                width="20" height="20" /></span>Romana</a>
                    <a href="../index.html#azteca"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png" alt="Icono plumas"
                                width="20" height="20" /></span>Azteca</a>
                    <a href="../index.html#maya"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png" alt="Icono piramide"
                                width="20" height="20" /></span>Maya</a>
                    <a href="../index.html#sumeria"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/nail.png" alt="Icono cincel" width="20"
                                height="20" /></span>Sumeria</a>
                </div>
                <div class="contact-link">
                    <a href="../contact.html">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <main id="main">
        <div id="menu-bg" class="menu-bg" onclick="toggleMenu()"></div>

        <section class="myth-section" id="creacion">
            <header>
                <h2>El origen del Universo</h2>
            </header>
            <div class="myth-info">
                <p>
                    En el principio existía el Caos (el Vacío primordial). Después se formaron las potencias
                    elementales: Gea (la Tierra) y Eros (el Amor). Caos engendró a Érebos (las Tinieblas) y a Nix (la
                    Noche), y estos engendraron a Éter (la Luminosidad) y Hémera (el Día).
                </p>
                <p>
                    Gea engendró por sí misma a Urano (el Cielo), a las Ninfas (las Montañas) y a Ponto (el orden
                    marino). Luego, se unió a Urano y nacieron seis titanes (Océano, Ceo, Crío, Hiperión, Jápeto y
                    Crono) y seis titánides (Tía, Rea, Temis, Mnemósine, Febe y Tetis). Ambos formaron también a los
                    cíclopes, vinculados con los rayos y los truenos, de nombre Arges, Estéropes y Brontes. Urano
                    engendró a los hecatonquiros Coto, Briareo y Giges, seres gigantes y violentos de cien cabezas.
                </p>
                <p>
                    Pero Urano, el Cielo, odiaba a sus hijos, y los mantenía ocultos en el seno de la madre Tierra,
                    causándole gran sufrimiento. Gea deseaba vengarse, así que liberó a sus hijos y les pidió ayuda para
                    matarlo. Ninguno accedió, excepto Crono, a quien Gea le fabricó una hoz. Cuando Urano envolvió a Gea
                    en la noche, Crono lo castró y arrojó sus organos detrás de él. La sangre cayó sobre la Tierra y la
                    fecundó, formando a las Erineas, las Ninfas de los fresnos y los Gigantes.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/creacion.webp" alt="Creación según los griegos">
            </div>
        </section>

        <section class="myth-section" id="pandora">
            <header>
                <h2>La caja de Pandora</h2>
            </header>
            <div class="myth-info">
                <p>
                    Pandora fue la primera mujer humana, creada por Hefesto por orden de Zeus y siendo dotada por los
                    diferentes dioses de algunas de sus mayores cualidades y virtudes, pero también incluyendo la
                    capacidad de seducir y mentir. Su creación obedece al deseo del rey del Olimpo de vengarse de
                    Prometeo y los suyos.
                </p>
                <p>
                    El dios hizo que Pandora y el hermano de Prometeo, Epimeteo, se conocieran, y propició que con el
                    tiempo se casaran. Pero Pandora recibió también una caja destinada a su marido, en la cual estaban
                    encerrados todos los males del mundo, con instrucciones de no abrirla jamás. Sin embargo uno de los
                    dones que había recibido Pandora era el de la curiosidad. Un día, la mujer abrió la caja para mirar
                    qué había dentro, algo que provocaría que todos los males salieran de la caja y se repartieran por
                    el mundo. Asustada, Pandora cerró la caja, pero en ella solo quedaba la esperanza. Entonces Pandora
                    se dedicó a ofrecer la esperanza a los hombres, con el fin de ayudarles a soportar los males y
                    vicisitudes del mundo.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/pandora.webp" alt="Cuadro de la caja de Pandora">
            </div>
        </section>

        <section class="myth-section" id="afrodita">
            <header>
                <h2>El nacimiento de Afrodita</h2>
            </header>
            <div class="myth-info">
                <p>
                    La diosa del amor y la pasión, Afrodita es una deidad muy reconocida dentro del panteón griego y fue
                    ampliamente venerada en el pasado. Sin embargo, al contrario que otras deidades no fue una hija
                    natural de ningún dios, sino que tal y como insinúa su nombre surgió de la espuma del mar. El mito
                    de su nacimiento, el cual nos llega de Hesíodo, es el siguiente.
                </p>
                <p>
                    Gea, la madre Tierra, dió a luz por sí misma a Urano, los cielos. Junto a él engendraría y daría a
                    luz a numerosos hijos, que sin embargo serían sepultados en su madre debido al odio y temor que
                    Urano le tenía a su prole. Un día el hijo menor, Cronos (titán que se convertiría en el padre de los
                    dioses Olímpicos, a los cuales devoraría), con la ayuda de una hoz proporcionada por su madre,
                    castró a su padre Urano cortándole los genitales.
                </p>
                <p>
                    Los restos de dichos genitales cayeron al mar, donde la sangre y el semen se mezclarían con las
                    aguas formando una espuma de la cual terminaría por nacer una deidad, Afrodita, ya totalmente adulta
                    desde su nacimiento.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/afrodita.webp" alt="Cuadro del nacimiento de Venus de Botticelli">
            </div>
        </section>

        <section class="myth-section" id="perseo">
            <header>
                <h2>Perseo y Medusa</h2>
            </header>
            <div class="myth-info">
                <p>
                    Perseo era un semidiós, hijo de Zeus y de la mortal Dánae. Polidectes, que se había enamorado de
                    Dánae, pensó que Perseo estorbaba a sus planes y amenazó a este con cortar la cabeza de su madre si
                    no le traía la cabeza de la Medusa, una de las tres gorgonas que habitaban en la isla de Sérifos.
                </p>
                <p>
                    Los dioses decidieron ayudar a Perseo en su difícil empresa, Atenea le dio un escudo que era un
                    espejo, Hades le dio un casco que lo haría invisible cuando lo usara, Hermes le dio unas sandalias
                    que se convertirían en alas para volar, y Hefesto le dio una espada indestructible.
                </p>
                <p>
                    La Medusa era un monstruo que convertía en piedra a todo el que la mirase, por lo que Perseo utilizó
                    el escudo como espejo para no mirar a Medusa directamente y así alcanzó a cortar la cabeza de la
                    gorgona. Perseo pudo escapar haciéndose invisible con el casco que le había dado Hades, dios del
                    inframundo de los muertos.
                </p>
                <p>
                    Después, Perseo, empleando la cabeza de la Medusa convirtió en piedra a Atlas, a Fineo, a Polidectes
                    y a todos cuantos se opusieron contra él.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/perseo.webp" alt="Perseo levantando la cabeza cortada de Medusa">
            </div>
        </section>

        <section class="myth-section" id="medusa">
            <header>
                <h2>El origen de Medusa</h2>
            </header>
            <div class="myth-info">
                <p>
                    Medusa fue una vez una joven y hermosa mujer, una sacerdotisa de Atenea cuya belleza era admirada
                    por todo aquel que la mirara y que gozaba de múltiples pretendientes. Un día el dios Poseidón
                    observó a la joven y cayó prendado de ella. El dios de los mares decidió raptar a Medusa y tomarla
                    en contra de su voluntad en el templo de Atenas.
                </p>
                <p>
                    Este hecho provocó la ira de Atenea, que decidió maldecir a la mujer transformando su hermosa
                    cabellera en furiosas serpientes, además de haciendo que en adelante cualquier persona que la mirara
                    fijamente a los ojos se convirtiera en piedra.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/medusa.webp" alt="Medusa">
            </div>
        </section>

        <section class="myth-section" id="sisifo">
            <header>
                <h2>Sísifo</h2>
            </header>
            <div class="myth-info">
                <p>
                    Hubo un tiempo en que la región de Éfira tuvo un rey de nombre Sísifo, de gran astucia pero que
                    tenía en gran defecto de ser tremendamente manipulador y avaricioso. Pero llegó un día en que su
                    ambición y sus actos llegarían a provocar la ira de Zeus al acusarle del rapto de la ninfa Egina
                    ante el padre de esta, Asopo, a cambio de fuentes de agua dulce para su ciudad. Zeus ordenó a
                    Thanatos que acudiera a llevarse al rey Sísifo al inframundo, pero una vez allí el taimado rey
                    invitó a la deidad de la muerte a comer, engañándolo de tal modo que consiguió encadenarlo en una
                    celda.
                </p>
                <p>
                    Al estar la muerte encerrada no se producían muertes, algo que terminó por enfurecer a Hades y hacer
                    que finalmente se decidiera que Ares liberara a Thanatos y llevara a Sísifo el inframundo. Sin
                    embargo, el inteligente rey pidió a su esposa que a su muerte no le rindiera honores en su funeral,
                    una petición que ella cumplió. Este hecho sería utilizado por Sísifo para engañar a Hades,
                    pidiéndole que le devolviera a la vida ya que su mujer no había celebrado el funeral de manera
                    apropiada y no le había rendido honores. El dios del inframundo aceptó a cambio de que volviera tras
                    hacerlo. Pero Sísifo no volvió, hasta que le llegó la muerte muchos años después.
                </p>
                <p>
                    Sísifo sería castigado finalmente por Zeus y Hades. Su condena fue tener que subir una piedra por la
                    ladera de una montaña hasta la cima. Sin embargo al llegar allí caería hacia el otro lado de la
                    montaña, con lo que tendría que ser de nuevo empujada hasta la cima, algo que se repetiría en un
                    ciclo eterno.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/sisifo.webp" alt="Sísifo subiendo la roca por la ladera">
            </div>
        </section>

        <section class="myth-section" id="minotauro">
            <header>
                <h2>Teseo y el Minotauro</h2>
            </header>
            <div class="myth-info">
                <p>
                    Poseidón le concedió a Minos, el rey de Creta, un hermoso toro blanco a condición de que lo
                    sacrificara en su honor. Tan fascinado estaba Minos con aquel toro, que sacrificó a otro ejemplar
                    como sustituto, y Poseidón lo descubrió. Poseidón hizo que Pasifae, esposa de Minos, sintiera gran
                    atracción por el toro. Parsifae ordenó al arquitecto Dédalo fabricar una vaca para esconderse en
                    ella y acercarse al toro, tras lo cual se unió a él y se embarazó.
                </p>
                <p>
                    Nació una criatura con cuerpo de hombre y cabeza de toro, llamado Minotauro. El Minotauro devoraba a
                    quien encontrara a su paso, y se hizo incontrolable al crecer. Entonces el rey Minos encomendó a
                    Dédalo construir un laberinto para encerrarlo.
                </p>
                <p>
                    Mientras se construía el laberinto, Minos recibió la noticia de que su único hijo, Androgeo, había
                    sido muerto por los atenienses. Entonces sitió la ciudad de Atenas y los obligó a pagar un tributo
                    cada nueve años, que consistía en sacrificar siete doncellas y siete mancebos al Minotauro.
                </p>
                <p>
                    Teseo, hijo del rey de Atenas, Egeo, se ofreció como parte del tributo para detener el derramamiento
                    de sangre. Como los barcos atenienses debían izar velas negras en señal de luto, le pidió que, si
                    volvía con vida, izaran velas blancas.
                </p>
                <p>
                    Minos tenía dos hijas: Ariadna y Fedra. Ariadna se enamoró de Teseo y le prometió ayudarlo. Le
                    entregó un ovillo de hilo y una espada mágica. Con el hilo de Ariadna, Teseo marcó el camino del
                    regreso, y con la espada mató al Minotauro. Pero al volver a Atenas, Teseo olvidó izar las velas
                    blancas. Egeo lo creyó muerto y, desesperado, se arrojó al mar que hoy lleva su nombre.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/minotauro.webp" alt="Sísifo subiendo la roca por la ladera">
            </div>
        </section>

        <section class="myth-section" id="apolo">
            <header>
                <h2>Apolo y Dafne</h2>
            </header>
            <div class="myth-info">
                <p>
                    Eros y Apolo competían entre sí en el arte del arco y la flecha. Apolo hacía alarde de su
                    superioridad, y se burlaba de Eros por tener aspecto de un pequeño querubín. Para vengarse, Eros
                    hirió a Apolo con una flecha encantada, cuyo poder residía en enamorar a la primera persona que lo
                    viese. Su siguiente paso fue herir a Dafne, ninfa de los árboles, con una flecha encantada con un
                    hechizo de aborrecimiento.
                </p>
                <p>
                    Ocurrió que Apolo se encontró con Dafne. Al contemplarla quedó perdidamente prendado de ella comenzó
                    a perseguirla. Pero Dafne lo aborrecía. La ninfa, desesperada, rogó al río Peneo, su padre, que la
                    transformara antes de que Apolo la poseyera. Y en el instante mismo en que Apolo la tomó en sus
                    brazos, el cuerpo de Dafne se transformó en un laurel.
                </p>
                <p>
                    Desde entonces, Apolo juró devoción al árbol, y portó para siempre una corona de laurel en su
                    cabeza. Con la misma corona premiaba a los héroes, para que recordaran que la victoria es huidiza y
                    fugaz.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/apolo.webp" alt="Apolo y Dafne">
            </div>
        </section>

        <section class="myth-section" id="prometeo">
            <header>
                <h2>Prometeo</h2>
            </header>
            <div class="myth-info">
                <p>
                    Prometeo era uno de los titanes, hijo de Jápeto y Clímene. Según algunos mitos junto con su hermano
                    Epimeteo fue encargado con la tarea de crear a animales y a los humanos, siendo Prometeo quien
                    decidió dar al hombre la capacidad de andar erguidos.
                </p>
                <p>
                    También burló y engañó a los dioses para favorecer a los mortales. En una ocasión en que Zeus
                    prohibió el fuego a los mortales y viendo las necesidades y las dificultades del hombre para
                    sobrevivir, decidió otorgarles el fuego. Por ello Prometeo entró en el Olimpo y robó el fuego del
                    carro de Helios utilizando una caña, tras lo cual se lo entregó a los mortales de tal modo que
                    pudieran calentarse y alumbrarse.
                </p>
                <p>
                    Pero Zeus se enfureció ante el robo, condenando al titán a ser encadenado al monte Caucaso, donde
                    cada día y para siempre jamás, un águila acudiría a devorar su hígado. El órgano le volvería a
                    crecer durante el día, de manera que el tormento se repetiría eternamente para este ser inmortal.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/prometeo.webp" alt="Prometeo">
            </div>
        </section>

        <section class="myth-section" id="aracne">
            <header>
                <h2>Atenea y Aracne</h2>
            </header>
            <div class="myth-info">
                <p>
                    En la antigua tierra de Lidia había un tintorero llamado Idmón, cuya hija, Aracne, era conocida como
                    la mejor tejedora de la región. Un día, Atenea se le presentó transformada en una vieja. Aracne le
                    afirmó que sus tejidos eran mejores que los de la misma diosa. Indignada, Atenea reveló su identidad
                    y la confrontó, pero Aracne mantuvo su palabra y la desafió a una competición.
                </p>
                <p>
                    Atenea y Aracne presentaron sus tapices, ambos hermosamente confeccionados. El de Atenea
                    representaba las virtudes de los dioses, pero el de Aracne representaba sus iniquidades, demostrando
                    que los dioses olímpicos eran tan esclavos de sus impulsos como los hombres.
                </p>
                <p>
                    Atenea se ofendió por el atrevimiento de Aracne y, haciendo uso de sus poderes, la condenó a vivir
                    suspendida de los hilos, convirtiéndola en una araña para siempre. Así sabría que ningún humano
                    puede igualarse con los dioses.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/greek/myths/aracne.webp" alt="Atenea en el desafío de Aracne">
            </div>
        </section>

        <div class="arrow-to-top">
            <a href="#header">
                <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/eflfmgmj.json" trigger="loop" delay="2500"
                    colors="primary:#ff9d59" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer>

</body>

</html>