<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mytho</title>

    <meta name="description" content="La mitología es el conjunto de mitos de una cultura, un pueblo, una religión, etc. Por ejemplo la egipcia, griega, romana o maya">
    <meta name="keywords" content="mitologia, deidades, mitos">
    <meta name="author" content="Pablo Moreno">

    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../styles/css/style.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../js/script.js"></script>
</head>

<body>

    <header id="header" class="main-header">
        <div class="birds">
            <div class="fog">
                <div class="logo">
                    <img src="../img/logo.png" alt="Logo del sitio web" height="200px" width="122.22">
                    <h1>Mytho</h1>
                </div>
        
                <div class="arrow">
                    <a href="#mitologia">
                        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                            colors="primary:#ffffff" style="width:50px;height:50px">
                        </lord-icon>
                    </a>
                </div>
            </div>
        </div>

    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <button id="burger" class="hamburger hamburger--minus" type="button" onclick="toggleMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div id="menu" class="menu">
            <div class="nav-logo" onclick="location.href='#header'">
                <img src="../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                <h2>Mytho</h2>
            </div>
            <div class="nav-links">
                <details>
                    <summary>Mitologías</summary>
                    <div class="links">
                        <a href="#egipcia"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png"/></span>Egipcia</a>
                        <a href="#nordica"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png"/></span>Nórdica</a>
                        <a href="#griega"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"/></span>Griega</a>
                        <a href="#romana"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png"/></span>Romana</a>
                        <a href="#azteca"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png"/></span>Azteca</a>
                        <a href="#maya"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png"/></span>Maya</a>
                        <a href="#sumeria"><span><img src="https://img.icons8.com/ios-filled/20/ffffff/nail.png"/></span>Sumeria</a>
                    </div>
                </details>
            </div>
            <div class="contact-link">
                <a href="contact.html">Contacto</a>
            </div>
        </div>
    </nav>

    <main id="main">
        <!-- <div id="darkbg" class="nav-main-bg" onclick="toggleMenu()"></div> -->
        <div id="darkbg" class="nav-main-bg visible"></div>
        
        <section id="mitologia" class="mytho-container">
            <header>
                <h2>Mitología</h2>
            </header>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio inventore ipsum libero maxime aut, vitae
                    rerum? Labore ipsam earum necessitatibus numquam dicta, eos ut laudantium. Magnam assumenda itaque non
                    unde!
                    Porro nam iure quibusdam nisi, velit ad ullam soluta nobis deserunt eligendi enim molestias, repellendus
                    hic unde non, officia aliquid placeat iusto nostrum? Temporibus suscipit quis repudiandae omnis. Culpa,
                    quidem!
                    Non, temporibus. Hic vitae quo molestiae eligendi laudantium sapiente placeat, illum fugiat eveniet
                    earum iusto sint repellat consectetur aliquam sunt a, repellendus dolor nostrum. Soluta laborum officiis
                    libero asperiores dolorem!
                </p>
                <br>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque saepe, id repellat similique animi
                    accusantium doloremque sint fuga ratione ad. Aperiam beatae, aut quos exercitationem itaque voluptates
                    doloribus laboriosam necessitatibus!
                    Enim animi libero quasi fuga quaerat facilis pariatur maiores, aliquid maxime omnis at dolore illum
                    fugit. Alias nisi, et veritatis omnis voluptate dolorum, soluta enim quidem minus id corporis ipsum.
                </p>
            </div>
        </section>

        <div class="separator"></div>

        <section class="mytho-container" id="egipcia">
            <header>
                <h2>Egipcia</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='egypt/egypt-gods.html'">
                    <img loading="lazy" src="../img/index/egy-gods.webp" alt="Dioses egipcios">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='egypt/egypt-myths.html'">
                        <img loading="lazy" src="../img/index/egy-myth.webp" alt="Mitos egipcios">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="mytho-container" id="nordica">
            <header>
                <h2>Nórdica</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='norse/norse-gods.html'">
                    <img loading="lazy" src="../img/index/nor-gods.webp" alt="Dioses nórdicos">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='norse/norse-myths.html'">
                    <img loading="lazy" src="../img/index/nor-myth.webp" alt="Mitos nórdicos">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="mytho-container" id="griega">
            <header>
                <h2>Griega</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='greek/greek-gods.html'">
                    <img loading="lazy" src="../img/index/gre-gods.webp" alt="Dioses griegos">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='greek/greek-myths.html'">
                    <img loading="lazy" src="../img/index/gre-myth.webp" alt="Mitos griegos">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="mytho-container" id="romana">
            <header>
                <h2>Romana</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='roman/roman-gods.html'">
                    <img loading="lazy" src="../img/index/rom-gods.webp" alt="Dioses romanos">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='roman/roman-myths.html'">
                    <img loading="lazy" src="../img/index/rom-myth.webp" alt="Mitos romanos">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="mytho-container" id="azteca">
            <header>
                <h2>Azteca</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='aztec/aztec-gods.html'">
                    <img loading="lazy" src="../img/index/azt-gods.webp" alt="Dioses aztecas">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='aztec/aztec-myths.html'">
                    <img loading="lazy" src="../img/index/azt-myth.webp" alt="Mitos aztecas">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="mytho-container" id="maya">
            <header>
                <h2>Maya</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='mayan/mayan-gods.html'">
                    <img loading="lazy" src="../img/index/may-gods.webp" alt="Dioses mayas">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='mayan/mayan-myths.html'">
                    <img loading="lazy" src="../img/index/may-myth.webp" alt="Mitos mayas">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="mytho-container" id="sumeria">
            <header>
                <h2>Sumeria</h2>
            </header>
            <div class="cards-box">

                <div class="card" onclick="location.href='sumer/sumer-gods.html'">
                    <img loading="lazy" src="../img/index/sum-gods.webp" alt="Dioses sumerios">
                    <div class="card-text">
                        <h3>Deidades</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/hfmdczge.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="card" onclick="location.href='sumer/sumer-myths.html'">
                        <img loading="lazy" src="../img/index/sum-myth.webp" alt="Mitos sumerios">
                    <div class="card-text">
                        <h3>Mitos</h3>
                        <div class="lord-icon">
                            <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/stxtcyyo.json" trigger="loop" delay="2500"
                                colors="primary:#ffffff" style="width:50px;height:50px">
                            </lord-icon>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div class="arrow-to-top">
            <a href="#header">
                <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/eflfmgmj.json" trigger="loop" delay="2500"
                    colors="primary:#ff9d59" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer>  

</body>

</html>