@import "variables";
@import "functions";



/*** H E A D E R ***/

@mixin create-header($image: "url()", $device: "movil") {
    background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)), $image no-repeat center / cover;
    
    font-family: $font-logo;
    font-size: calculate-rem(30);
    letter-spacing: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: sticky;
    z-index: 900;

    height: 100vh;
    margin-bottom: 50px;

    flex-direction: column;

    box-shadow: 0 0 20px $main;

    @if $device == "pc" {
        font-size: calculate-rem(50);
        background-attachment: fixed;
    }

    @if $device == "tablet" {
        font-size: calculate-rem(40);
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        @if $device == "pc" or $device == "tablet" {
            flex-direction: row;

            h1 {
                margin-left: 35px;
            }
        }

        img {
            animation: logo 2s cubic-bezier(0.175, 0.885, 0.32, 1.07);
        }
        
        h1 {
            animation: title 2s cubic-bezier(0.175, 0.885, 0.32, 1.07);
        }
    }

    .arrow {
        position: absolute;
        bottom: 40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}



/*** N A V ***/

@mixin create-nav($device: "movil") {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    
    transition: all 0.5s;

    .nav-bur {
        height: 60px;
        padding: 10px 16px;

        color: white;
    
        display: flex;
        align-items: center;
        position: relative;
        z-index: 900;
    }
    
    .menu {
        background: rgba(54, 48, 98, 0.85);
        box-shadow: 0 0 20px $main;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width: 0;
        height: 100vh;
    
        position: fixed;
        z-index: 800;
        left: -100vw;
        top: 0;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    
        transition: all 0.5s;

        .nav-links {
            height: 70%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            .nav-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
    
                h2 {
                    font-family: $font-logo;
                    color: white;
                    font-size: calculate-rem(40);
                    letter-spacing: 2.5px;
                    margin-left: 16px;
                }
            }

            .links {
                height: 70%;
                font-size: calculate-rem(22);
    
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
    
                a {
                    color: white;
                    text-decoration: none;
                    transition: transform 0.3s;
    
                    &:hover {
                        transform: scale(1.2);
                    }
    
                    span {
                        margin-right: 8px;
                    }
                }
            }
    
            .contact-link {
                font-size: calculate-rem(24);
                a {
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }

    .menu-open {
        left: 0;
        transition: all 0.5s;
        width: 100vw;

        @if $device == "tablet" or $device == "pc" {
            width: 400px;
        }
    }
}



/*** F O O T E R ***/

@mixin create-footer($image: "url()") {
    background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)), $image no-repeat center / cover;
    background-attachment: fixed;
    color: white;
    box-shadow: 0 0 20px $main;
    height: 150px;
    margin-top: 50px;

    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    z-index: 500;
}



/*** S C R O L L ***/

@mixin scroll {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $orange;

        &:hover {
            background-color: $orange-hover;
        }
    }
}



/*** C A R D  L I N K ***/

@mixin create-card-link($device: "movil") {
    background: linear-gradient($main, black);
    box-shadow: 0 50px 50px -50px $details;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        opacity: 0.75;
    
        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: center center;
    
        filter: brightness(90%) grayscale(40%) blur(2px);
        transform: scale(1.03);
        transition: transform 0.3s;

        &:hover {
            opacity: 0.85;
        
            filter: grayscale(5%);
            transform: scale(1.1);
        }
    }

    .card-text {
        position: absolute;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-size: calculate-rem(42);
            letter-spacing: 2.5px;
            color: white;
        }

        .lord-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @if $device == "pc" or $device == "tablet" {
        &:first-child {
            animation: img-entry-l 1s cubic-bezier(0.175, 0.885, 0.32, 1.065);
        }
        
        &:last-child {
            animation: img-entry-r 1s cubic-bezier(0.175, 0.885, 0.32, 1.065);
        }
    }
}



/*** C A R D ***/

@mixin create-card() {
    position: relative;
    display: flex;
    align-items: center;

    box-shadow: 0 50px 50px -60px $details;

    transition: 0.4s ease-out;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    
        display: flex;
    
        transition: 0.3s;
    }

    &:hover {
        transform: translateY(2.5%);

        &:before {
            opacity: 1;
        }
    }

    .card-info {
        width: 100%; height: 100%;
        padding: 10px;
    
        position: relative;
        z-index: 3;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        background: rgba(130, 115, 151, 0.6);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        color: white;
        opacity: 0;
    
        transform: translateY(10%);
        transition: 0.3s;

        &:hover {
            opacity: 1;
            transform: translateY(0);
        }

        h3 {
            text-shadow: 0 0 10px $main;
            font-size: 2rem;
            text-align: center;
        }
           
        p {
            text-shadow: 0 0 14px $main;
            font-size: 1.1rem;
            margin: 5px 0 15px 0;
            text-align: center;
        }
    }
}



/*** M Y T H ***/

@mixin create-myth($device: "movil") {
    background-color: white;
    padding: 50px 0;
    box-shadow: 0 0 8px $sec;
    width: 100%;
    margin: auto;

    @if $device == "tablet" {
        width: 90%;
    }

    @if $device == "pc" {
        width: 75%;
    }

    header {
        padding: 40px;

        h2 {
            color: $title;
            text-align: center;
            font-size: calculate-rem(40);

            @if $device == "tablet" {
                font-size: calculate-rem(50);
            }

            @if $device == "pc" {
                font-size: calculate-rem(60);
            }
        }
    }

    .myth-info {
        overflow: hidden;
        padding: 40px;
        text-align: justify;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .myth-info-img {
            margin-top: 20px;

            img {
                opacity: 0.9;
                width: 100%;
                
                object-fit: cover;
                object-position: center center;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
