@import "variables";
@import "functions";

/*** H E A D E R ***/

@mixin create-header($image: "url()", $device: "movil") {
    background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)),
        $image no-repeat center / cover;

    font-family: $font-logo;
    font-size: calculate-rem(30);
    letter-spacing: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    z-index: 800;

    height: 100vh;
    margin-bottom: 50px;

    flex-direction: column;

    box-shadow: 0 0 20px $main;

    @if $device == "pc" {
        font-size: calculate-rem(50);
        background-attachment: fixed;
    }

    @if $device == "tablet" {
        font-size: calculate-rem(40);
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        @if $device == "pc" or $device == "tablet" {
            flex-direction: row;

            h1 {
                margin-left: 35px;
            }
        }

        img {
            animation: logo 2s cubic-bezier(0.175, 0.885, 0.32, 1.07);
        }

        h1 {
            animation: title 2s cubic-bezier(0.175, 0.885, 0.32, 1.07);
        }
    }

    .arrow {
        display: none;

        @if $device == "pc" or $device == "tablet" {
            position: absolute;
            bottom: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .to-myths {
        position: absolute;
        bottom: 40px;
        right: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            font-size: calculate-rem(18);
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    .to-gods {
        position: absolute;
        bottom: 40px;
        left: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            font-size: calculate-rem(18);
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .flecha {
                transform: scaleX(-1);
            }
        }
    }
}

/*** N A V ***/

@mixin create-nav($device: "movil") {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;

    transition: all 0.5s;

    .nav-bur {
        height: 60px;
        padding: 10px 16px;

        color: white;

        display: flex;
        align-items: center;
        position: relative;
        z-index: 400;
    }

    .menu {
        font-size: calculate-rem(22);
        background: rgba(54, 48, 98, 0.85);
        box-shadow: 0 0 20px $main;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width: 0;
        height: 100vh;

        position: fixed;
        left: -100vw;
        top: 0;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        transition: all 0.5s;

        .nav-links {
            height: 70%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            .nav-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                h2 {
                    font-family: $font-logo;
                    color: white;
                    font-size: calculate-rem(40);
                    letter-spacing: 2.5px;
                    margin-left: 16px;
                }
            }

            .links {
                height: 70%;

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                a {
                    color: white;
                    text-decoration: none;
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.2);
                    }

                    span {
                        margin-right: 8px;
                    }
                }
            }

            .contact-link {
                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }

    .menu-open {
        left: 0;
        transition: all 0.5s;
        width: 100vw;

        @if $device == "tablet" or $device == "pc" {
            width: 400px;
        }
    }
}

/*** F O O T E R ***/

@mixin create-footer($image: "url()") {
    background: linear-gradient(rgba(54, 48, 98, 0.75), rgba(0, 0, 0, 0.75)),
        $image no-repeat center / cover;
    background-attachment: fixed;
    color: white;
    box-shadow: 0 0 20px $main;
    height: 150px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 500;
}

/*** S C R O L L ***/

@mixin scroll {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $orange;

        &:hover {
            background-color: $orange-hover;
        }
    }
}

/*** C A R D  L I N K ***/

@mixin create-card-link($device: "movil") {
    background: linear-gradient($main, black);
    box-shadow: 0 50px 50px -50px $details;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        opacity: 0.75;

        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: center center;

        filter: brightness(90%) grayscale(40%) blur(2px);
        transform: scale(1.03);
        transition: transform 0.3s;

        &:hover {
            opacity: 0.85;

            filter: grayscale(5%);
            transform: scale(1.1);
        }
    }

    .card-text {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-size: calculate-rem(42);
            letter-spacing: 2.5px;
            color: white;
        }

        .lord-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @if $device == "pc" or $device == "tablet" {
        &:first-child {
            animation: img-entry-l 1s cubic-bezier(0.175, 0.885, 0.32, 1.065);
        }

        &:last-child {
            animation: img-entry-r 1s cubic-bezier(0.175, 0.885, 0.32, 1.065);
        }
    }
}

/*** C A R D ***/

@mixin create-card() {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 50px 50px -60px $details;

    transition: 0.4s ease-out;

    &:before {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        display: flex;

        transition: 0.3s;
    }

    &:hover {
        transform: translateY(2.5%);

        &:before {
            opacity: 1;
        }
    }

    .card-info {
        width: 100%;
        height: 100%;
        padding: 10px;

        position: relative;
        z-index: 3;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background: rgba(54, 48, 98, 0.5);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        color: white;
        opacity: 0;

        transform: translateY(10%);
        transition: 0.3s;

        &:hover {
            opacity: 1;
            transform: translateY(0);
        }

        h3 {
            text-shadow: 0 4px 6px $main;
            font-size: calculate-rem(32);
            text-align: center;
        }

        p {
            text-shadow: 0 4px 6px $main;
            font-size: calculate-rem(20);
            margin: 5px 0 15px 0;
            text-align: center;
        }
    }
}

/*** M Y T H ***/

@mixin create-myth($device: "movil") {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../../img/index/pergamino.webp) no-repeat center / cover;
    box-shadow: 0 0 20px $sec;

    padding: 50px 0;
    width: 100%;
    height: 100%;
    margin: auto;

    header {
        padding: 20px;

        @if $device == "tablet" {
            padding: 30px;
        }

        @if $device == "pc" {
            padding: 40px;
        }

        h2 {
            color: $title;
            text-align: center;
            font-size: calculate-rem(40);

            @if $device == "tablet" {
                font-size: calculate-rem(50);
            }

            @if $device == "pc" {
                font-size: calculate-rem(60);
            }
        }
    }

    .myth-info {
        overflow: auto;
        padding: 20px;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;

        @if $device == "tablet" {
            padding: 30px;
        }

        @if $device == "pc" {
            padding: 40px;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #eeeeee;
    
            &:hover {
                background-color: #e4e4e4;
            }
        }
    }

    .myth-info-img {
        padding: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 3/2;

        @if $device == "tablet" {
            padding: 30px;
        }

        @if $device == "pc" {
            padding: 40px;
        }

        img {
            opacity: 0.9;
            width: 100%;
            height: 100%;

            object-fit: cover;

            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 1;
                box-shadow: 0 50px 50px -50px $details;
            }
        }
    }
}

/*** N A V  B G ***/

@mixin nav-bg() {
    .menu-bg {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 800;
        opacity: 0;
        width: 0;
    }

    .visible {
        position: fixed;
        opacity: 0.25;
        width: 100%;
        transition: opacity ease-in 0.5s;
        display: block;
    }
}
