@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
    font-family: 'Harman Sans';
    src: url("../../fonts/Harman-Sans.otf");
    font-display: swap;
}

$font-logo: 'Harman Sans', sans-serif;
$font: 'Quicksand', sans-serif;

$main: #363062;
$bg: #fbfbfb;
$text: #1b1b1b;
$text-darkbg: #fbfbfb;
$sec: #E9D5DA;
$title: #4D4C7D;
$details: #827397;
$pri-button: #4D4C7D;
$pri-button-hover: #36355e;
$sec-button: #827397;
$sec-button-hover: #6e5f83;
$orange: #ff9d59;
$orange-hover: #d38045;