@import "variables";
@import "functions";
@import "mixins";
@import "hamburgers";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    background-color: $bg;
    color: $text;
    
    img {
        max-width: 1900px;
        max-height: 1900px;
    }



    /*** H E A D E R ***/

    .main-header {
        @include create-header(url(../../img/index/rom-myth.webp), movil);

        h2 {
            font-family: $font;
            font-size: calculate-rem(30);
        }
    }



    /*** N A V ***/

    nav {
        @include create-nav(movil)
    }



    /*** M A I N ***/

    main {
        padding: 40px 0;
        width: 90%;
        margin: auto;

        @include nav-bg();

        .intro {
            margin: auto;
            font-size: calculate-rem(18);
            width: 90%;
            padding-bottom: 40px;
        }

        .myths {
            display: grid;
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            gap: 20px;
    
            justify-content: start;
            align-items: start;
            
            .myth-section {
                @include create-myth(movil);
    
                img {
                    object-position: top;
                }
            }
        }

        .arrow-to-top {
            display: none;
        }
    }



    /*** F O O T E R ***/

    footer {
        @include create-footer(url(../../img/roman/caronte.webp));
        background-position: 0 450px;
    }



    /*** S C R O L L ***/

    @include scroll();


    
    /*** M E D I A  Q U E R I E S ***/

    /** Tablet **/

    @media only screen and (min-width: 600px) {
        .main-header {
            @include create-header(url(../../img/index/rom-myth.webp), tablet);

            h2 {
                font-family: $font;
                font-size: calculate-rem(40);
            }
        }

        .nav {
            @include create-nav(tablet);
        }

        main {
            width: 85%;

            .intro {
                font-size: calculate-rem(18);
                width: 80%;
            }

            .myths {
                .myth-section {
                    @include create-myth(tablet);
                }
            }
        }
    }

    /** PC **/
    
    @media only screen and (min-width: 900px) {
        .main-header {
            @include create-header(url(../../img/index/rom-myth.webp), pc);

            h2 {
                font-family: $font;
                font-size: calculate-rem(50);
            }
        }

        .nav {
            @include create-nav(pc);
        }

        main {
            width: 85%;

            .intro {
                font-size: calculate-rem(20);
                width: 75%;
            }

            .myths {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                gap: 20px;
        
                grid-template-areas:
                    "romulo romulo"
                    "pico dioscuros"
                    "jano tacita"
                    ;
        
                #romulo { grid-area: romulo; }
                  
                #jano { grid-area: jano; }
                  
                #pico { grid-area: pico; }
        
                #dioscuros { grid-area: dioscuros; }
    
                #tacita { grid-area: tacita; }
    
                .myth-section {
                    @include create-myth(pc);
                }
            }

            /*** T O  T O P ***/

            .arrow-to-top {
                display: block;
                position: fixed;
                bottom: 40px;
                right: 30px;
                z-index: 100;
            }
        }
    }
}