@import "variables";
@import "functions";
@import "mixins";
@import "hamburgers";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    background-color: $bg;
    color: $text;



    /*** H E A D E R ***/

    .main-header {
        @include create-header(url(../../img/index/azt-gods.webp), movil);

        h2 {
            font-family: $font;
            font-size: calculate-rem(30);
        }
    }



    /*** N A V ***/

    nav {
        @include create-nav(movil)
    }



    /*** M A I N ***/

    main {
        padding: 40px;

        display: grid;
        grid-template-columns: repeat(auto-fit, 225px);
        grid-auto-rows: 350px;
        gap: 40px;
        justify-content: space-evenly;

        @include nav-bg();

        .card {
            @include create-card();
        }

        #huitzilopochtli { background: white url(../../img/aztec/gods/huitzilopochtli.webp) no-repeat center / cover; }
        #tlaloc { background: white url(../../img/aztec/gods/tlaloc.webp) no-repeat center / cover; }
        #tezcatlipoca { background: white url(../../img/aztec/gods/tezcatlipoca.webp) no-repeat center / cover; }
        #tonatiuh { background: white url(../../img/aztec/gods/tonatiuh.webp) no-repeat center / cover; }
        #centeotl { background: white url(../../img/aztec/gods/centeotl.webp) no-repeat center / cover; }
        #chalchiuhtlicue { background: white url(../../img/aztec/gods/chalchiuhtlicue.webp) no-repeat left / cover; }
        #xipetotec { background: white url(../../img/aztec/gods/xipetotec.webp) no-repeat center / cover; }
        #quetzalcoatl { background: white url(../../img/aztec/gods/quetzalcoatl.webp) no-repeat center / cover; }
        #tlaltecuhtli { background: white url(../../img/aztec/gods/tlaltecuhtli.webp) no-repeat center / cover; }
        #mayahuel { background: white url(../../img/aztec/gods/mayahuel.webp) no-repeat center / cover; }
        #metzli { background: white url(../../img/aztec/gods/metzli.webp) no-repeat center / cover; }
        #yacatecuhtli { background: white url(../../img/aztec/gods/yacatecuhtli.webp) no-repeat center / cover; }
        #ixtlilton { background: white url(../../img/aztec/gods/ixtlilton.webp) no-repeat center / cover; }
        #mictlantecuhtli { background: white url(../../img/aztec/gods/mictlantecuhtli.webp) no-repeat center / cover; }
    }



    /*** F O O T E R ***/

    footer {
        @include create-footer(url(../../img/aztec/mictlan.webp));
        background-position: 0 80%;
    }



    /*** S C R O L L ***/

    @include scroll();


    
    /*** M E D I A  Q U E R I E S ***/

    /** Tablet **/

    @media only screen and (min-width: 600px) {
        .main-header {
            @include create-header(url(../../img/index/azt-gods.webp), tablet);

            h2 {
                font-family: $font;
                font-size: calculate-rem(40);
            }
        }

        .nav {
            @include create-nav(tablet);
        }
    }

    /** PC **/
    
    @media only screen and (min-width: 900px) {
        .main-header {
            @include create-header(url(../../img/index/azt-gods.webp), pc);

            h2 {
                font-family: $font;
                font-size: calculate-rem(50);
            }
        }

        .nav {
            @include create-nav(pc);
        }
    }
}