<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumeria Mitos</title>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../styles/css/style-sumer-myths.css">
    <link href="../styles/css/hamburgers.css" rel="stylesheet">

    <script async src="../../js/script.js"></script>
</head>

<body>

    <header id="header" class="main-header">
        <div class="logo">
            <img src="../../img/logo.png" alt="Logo del sitio web" height="200px">
            <h1>Sumeria</h1>
        </div>
        <h2>Mitos</h2>
        <div class="arrow">
            <a href="#main">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" delay="2500"
                    colors="primary:#ffffff" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
        <div class="to-gods">
            <a href="sumer-gods.html">
                <div class="flecha">
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="loop" delay="2500"
                        colors="primary:#ffffff" state="hover-1" style="width:30px;height:50px">
                    </lord-icon>
                </div>
                <span>Deidades</span>
            </a>
        </div>
    </header>

    <nav id="nav" class="nav">
        <div class="nav-bur">
            <div id="burger" class="hamburger hamburger--minus" onclick="toggleMenu()">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <div id="menu" class="menu" onclick="toggleMenu()">
            <div class="nav-links">
                <div class="nav-logo" onclick="location.href='../index.html'">
                    <img src="../../img/logo.png" alt="Logo del sitio web" height="80px" width="48.88">
                    <h2>Mytho</h2>
                </div>
                <div class="links">
                    <a href="../index.html#egipcia"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/ankh.png" alt="Icono ankh" width="20"
                                height="20" /></span>Egipcia</a>
                    <a href="../index.html#nordica"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/viking-ship.png" alt="Icono drakkar"
                                width="20" height="20" /></span>Nórdica</a>
                    <a href="../index.html#griega"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/venus-de-milo--v2.png"
                                alt="Icono venus" width="20" height="20" /></span>Griega</a>
                    <a href="../index.html#romana"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/coliseum.png" alt="Icono coliseo"
                                width="20" height="20" /></span>Romana</a>
                    <a href="../index.html#azteca"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/aztec-headdress.png" alt="Icono plumas"
                                width="20" height="20" /></span>Azteca</a>
                    <a href="../index.html#maya"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/chichen-itza.png" alt="Icono piramide"
                                width="20" height="20" /></span>Maya</a>
                    <a href="../index.html#sumeria"><span><img
                                src="https://img.icons8.com/ios-filled/20/ffffff/nail.png" alt="Icono cincel" width="20"
                                height="20" /></span>Sumeria</a>
                </div>
                <div class="contact-link">
                    <a href="../contact.html">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <main id="main">
        <div id="menu-bg" class="menu-bg" onclick="toggleMenu()"></div>

        <section class="myth-section" id="creacion">
            <header>
                <h2>La creación del mundo</h2>
            </header>
            <div class="myth-info">
                <p>
                    la creación de los cielos y la tierra se la debemos a Nammu, primera diosa y origen de todo,quien la
                    repartió entre Ki, la tierra, y An, el cielo. La creación de los vientos, las tormentas, el día y la
                    noche son obra de Enlil, hijo de Nammu y los seres vivos fueron creados por Enlil y Ki, con el
                    objetivo de complacer y servir a los dioses. Curiosamente, la primera diosa nació de una costilla de
                    Enki (uno de los dioses mayores) y su nombre fue Nin-ti. Enki también creó un paraíso donde los
                    hombres podían vivir en armonía con la naturaleza, pero fueron expulsados por desobedecer las leyes
                    de los dioses.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/sumer/myths/creacion.webp" alt="Creación">
            </div>
        </section>

        <section class="myth-section" id="humanos">
            <header>
                <h2>La creación de la humanidad</h2>
            </header>
            <div class="myth-info">
                <p>
                    El dios de los dioses se llamaba Anu, quien quiso liberar al resto de dioses de estas cargas y, para
                    ello, encomendó a su hijo Enki la creación humana, para esclavizarlos laboriosamente.
                </p>
                <p>
                    Enki y su media hermana Ninki crearon al hombre. Un dios se sacrificó para mezclar su cuerpo y su
                    sangre con arcilla, creando el primer hombre a semejanza de los dioses. El lugar de la creación fue
                    un terreno plano de Mesopotamia llamado Edén, “el jardín de los dioses”.
                </p>
                <p>
                    Al principio, los seres humanos creados para trabajar no podían reproducirse, así que el dios Enki y
                    la diosa Ninki los modificaron. Al primero de ellos con capacidades funcionales lo llamaron Adapa
                    (primer rey).
                </p>
                <p>
                    Cuando Enlil se enteró de lo creado, se molestó con Enki produciéndose un conflicto entre ellos.
                    Enlil se enemistó con los nuevos seres creados provocándoles sufrimiento, esclavitud y trabajos
                    forzosos. Enlil pasó a ser el enemigo del hombre.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/sumer/myths/humanos.webp" alt="Creacion humanos">
            </div>
        </section>

        <section class="myth-section" id="gilgamesh">
            <header>
                <h2>Epopeya de Gilgamesh</h2>
            </header>
            <div class="myth-info">
                <p>
                    Cuenta la leyenda que fue un rey déspota con su pueblo, cuyos habitantes viéndose oprimidos por su
                    rey, decidieron pedir auxilio y amparo a los dioses. Las divinidades, apenadas por esta situación,
                    mandaron a la ciudad a Enkidu con el fin de que luchase contra Gilgamesh y saliese victorioso. Sin
                    embargo, el combate resulta estar muy igualado y, sin un claro vencedor, los dos oponentes terminan
                    por hacer amigos y lanzarse a un viaje será peligroso y donde las hazañas serán numerosas, teniendo
                    incluso que enfrentarse en él a animales fantásticos.
                </p>
                <p>
                    Durante la ausencia del rey, la ciudad de Uruk quedará bajo la protección de la diosa Inana
                    (posteriormente conocida como Ishtar y Astarté) quien se enamora de Gilgamesh pero a quien este
                    rechaza, lo que provocará el enfado de la divinidad quien, a modo de venganza, enviará a los héroes
                    el “Toro de las tempestades” para que los aniquile a ellos y a toda Uruk, aunque sin éxito ya que
                    los héroes acabarán por matar al animal.
                </p>
                <p>
                    Esto provoca la ira del resto de dioses, quienes matarán a Enkidu. Gilgamesh, terriblemente
                    apesadumbrado por la pérdida, decide pedir consejo al sabio Utnapishtim (quien, junto a su esposa,
                    son las dos únicas personas inmortales) y pediré que le entregue el secreto de la vida eterna.
                </p>
                <p>
                    Aunque el sabio se lo niega, será su mujer quien le diga en qué lugar del fondo del mar puede
                    encontrar la planta que devuelve la juventud: el rey acaba por encontrarla pero, de vuelta a Uruk,
                    una serpiente se la robará y Gilgamesh acabará muriendo ya en su patria.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/sumer/myths/gilgamesh.webp" alt="Epopeya de Gilgamesh">
            </div>
        </section>

        <section class="myth-section" id="utnapishtim">
            <header>
                <h2>Utnapishtim</h2>
            </header>
            <div class="myth-info">
                <p>
                    Antiguamente, los dioses trabajaban la tierra, pro necesitaban mucha ayuda, porque los dioses solos
                    no podían. Por eso, crearon a los seres humanos. Tan sólo catorce, siete hombres y siete mujeres que
                    comenzaron a multiplicarse de tal forma, que hacían mucho ruido. Y ya no sólo eso, debido a que los
                    dioses veían cómo los humanos se volvían más y más violentos, ruidosos y rebeldes, el dios Enlil,
                    decidió eliminarlos a todos, pero Ea, quería a los humanos y decidió proteger aunque sea a los
                    justos y avisó a Utnapishtim para que destruyera su casa y construyera un barco, donde resguardar a
                    su familia y a las especies animales vivientes y conocidas y unas cuantas personas escogidas.
                </p>
                <p>
                    Se desató una tormenta tan salvaje, que los mismos dioses se asustaron y ascendieron al cielo, para
                    no sufrirla. Tras esto, en la tierra se desató una gran tempestad que duró seis días y seis noches.
                    Al séptimo día se calmó el temporal y cuando Utnapishtim se asomó para ver el paisaje, toda la
                    humanidad era arcilla. Tras siete días de espera, Utnapishtim soltó una paloma y más tarde, soltó
                    una golondrina. Ambas aves volvieron, pero cuando soltó un cuervo, éste no volvió, lo cual
                    significaba que había encontrado un lugar en donde posarse y las aguas se estaban retirando.
                    Entonces, como ofrenda, quemó cañas y madera de cedro y mirto.
                </p>
                <p>
                    Cuando Enlil, vio su plan fracasado, se enfureció y fue a discutirlo con Ea, pero éste defendió todo
                    lo que hizo, al ver que los animales y la familia de Utnapishtim estaban a salvo y los defendió con
                    tal pasión que Enlil se emocionó, hasta el punto de bendecirle Utnapishtim y a su mujer, para que se
                    asemejaran a los dioses.
                </p>
            </div>
            <div class="myth-info-img">
                <img src="../../img/sumer/myths/utnapishtim.webp" alt="Utnapishtim">
            </div>
        </section>

        <div class="arrow-to-top">
            <a href="#header">
                <script async src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/eflfmgmj.json" trigger="loop" delay="2500"
                    colors="primary:#ff9d59" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </div>
    </main>

    <footer>
        <p>© Mytho | Todos los derechos reservados</p>
    </footer>

</body>

</html>